openapi: 3.0.0
info:
  title: Public API
  version: 1.0.0
  description: 'Public API for accessing agents, flows, and analytics.


    ## Authentication


    The Public API supports two API key types. Pass the key as a Bearer token:


    ```

    Authorization: Bearer <YOUR_API_KEY>

    ```


    ### Account API key (GENERAL)


    Account-level key that acts on behalf of the entire account. Required for account-level endpoints
    unless noted otherwise.


    ### User API key (USER)


    User-level key tied to a specific user. Required for write operations and user-owned resources. **Also
    accepted on all account-level endpoints.**


    Each operation documents which key type(s) it accepts in its **Security** section.'
  license:
    name: Proprietary
    url: https://www.getfrontline.ai/terms-and-conditions
servers:
- url: https://prod-api.getfrontline.ai
tags:
- name: Account
  description: Inspect the identity attached to the current API key
- name: Agent Builder
  description: View and manage your AI agents across your account
- name: Flows
  description: View and manage flows associated with your agents
- name: Agents
  description: 'Agent runtime data: conversations and transcripts'
- name: Agent Playbooks
  description: Manage reusable instruction sets assigned to agents
- name: Workflows
  description: View and manage your workflows across your account
- name: Billing
  description: View billing plan details, credits, and renewal information
- name: Flow Variables
  description: Manage variables scoped to an agent's flow
- name: Workflow Variables
  description: Manage variables scoped to an automation workflow
- name: Intents
  description: Manage agent intents and training phrases
- name: AI Models
  description: Discover available AI models for agent configuration
- name: Users
  description: List account users to resolve IDs for relations and assignment
- name: User Tasks
  description: 'User tasks — the account ''To-dos'' inbox: create, list, update, complete, and delete
    tasks, optionally linked to an object record. Distinct from object-row tasks (Object tasks) and from
    Max tasks.'
- name: Custom Tools
  description: Manage custom tools — reusable HTTP/API-call integrations the account creates and assigns
    to agents, flows, and workflows. Distinct from built-in system tools and connected-integration (MCP)
    tools.
- name: Incoming Webhooks
  description: Inbound HTTPS endpoints that external systems can post events to
- name: Knowledge Bases
  description: Manage knowledge bases, their sources (URLs, website crawls), search, and agent assignment
- name: Account Integrations
  description: View account-scoped (Studio) connected integrations, discover connectable toolkits, and
    configure which tools each integration exposes to agents, flows, and workflows. These are used for
    workflows and agents, separate from Max integrations.
- name: Agent Channels
  description: View connected channel integrations (WhatsApp, Instagram, Messenger) and bind numbers/accounts/pages
    to agents
- name: Integration Resources
  description: Resolve resource IDs (spreadsheets, docs, drive folders, Asana projects, Salesforce SObjects,
    Gmail labels, Outlook folders/calendars) needed to configure event triggers. Requires a USER API key.
- name: Guidance
  description: 'Builder reference data sourced live from backend constants: valid icons, colors, and formats
    for objects/tables/fields, plus the workflow/flow node-type catalog. Use these instead of hard-coding
    allowlists.'
- name: Channels
  description: Communication channels connected to this account (WhatsApp, Instagram, Messenger)
- name: Integrations
  description: OAuth/API connected accounts for toolkits like Google Sheets, Gmail, and Slack
- name: Objects
  description: Manage CRM objects (standard and custom)
- name: Object fields
  description: Manage columns on an object
- name: Object options
  description: Manage tag/select options on object fields
- name: Object record types
  description: Categorize records inside an object
- name: Object views
  description: Saved view configurations on an object
- name: Object relations
  description: Link and unlink records across objects
- name: Object rows
  description: Read and write object records
- name: Object aggregations
  description: Per-view aggregations on objects
- name: Object activities
  description: Manual activities (notes, calls, meetings, emails) attached to object rows
- name: Object tasks
  description: Tasks attached to object rows
- name: Object files
  description: Files attached to object rows
- name: Object export
  description: Export object data as XLSX or CSV
- name: Tables
  description: Manage spreadsheet-style tables
- name: Table fields
  description: Manage columns on a table
- name: Table options
  description: Manage tag/select options on table fields
- name: Table rows
  description: Read and write table rows
- name: Table aggregations
  description: Per-view aggregations on tables
- name: Table activities
  description: Manual activities (notes, calls, meetings, emails) attached to table rows
- name: Table tasks
  description: Tasks attached to table rows
- name: Table files
  description: Files attached to table rows
- name: Table export
  description: Export table data as XLSX or CSV
x-tagGroups:
- name: Agent Builder
  tags:
  - Agent Builder
  - Flows
  - Flow Variables
  - Intents
  - Agents
  - Agent Playbooks
- name: Workflows
  tags:
  - Workflows
  - Workflow Variables
- name: Objects
  tags:
  - Objects
  - Object fields
  - Object options
  - Object record types
  - Object views
  - Object relations
  - Object rows
  - Object aggregations
  - Object activities
  - Object tasks
  - Object files
  - Object export
- name: Tables
  tags:
  - Tables
  - Table fields
  - Table options
  - Table rows
  - Table aggregations
  - Table activities
  - Table tasks
  - Table files
  - Table export
- name: Channels
  tags:
  - Channels
- name: Integrations
  tags:
  - Custom Tools
  - Incoming Webhooks
  - Account Integrations
  - Agent Channels
  - Integration Resources
- name: Knowledge
  tags:
  - Knowledge Bases
- name: Core
  tags:
  - Account
  - AI Models
  - Billing
  - Users
  - User Tasks
  - Guidance
components:
  securitySchemes:
    accountApiKey:
      type: http
      scheme: bearer
      bearerFormat: Account API Key
      description: Account-level API key (GENERAL). Authenticates on behalf of the entire account. Use
        for read-only and analytics endpoints marked as account-level in this documentation.
    userApiKey:
      type: http
      scheme: bearer
      bearerFormat: User API Key
      description: User-level API key (USER). Authenticates on behalf of a specific user. Required for
        write operations and user-owned resources. Also accepted on all account-level endpoints.
  schemas:
    PublicChannelAssistant:
      type: object
      nullable: true
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
    PublicWhatsAppPhoneNumber:
      type: object
      properties:
        phoneNumberId:
          type: string
          description: Meta WhatsApp Business phone number ID. Use in SEND_WHATSAPP_MESSAGE nodes.
          example: '1132681309928224'
        displayPhoneNumber:
          type: string
          nullable: true
        assistantId:
          type: string
          nullable: true
        assistant:
          $ref: '#/components/schemas/PublicChannelAssistant'
        canSendMessages:
          type: boolean
          description: True when assistantId is assigned. Only these numbers work in Send WhatsApp Message
            nodes.
      required:
      - phoneNumberId
      - canSendMessages
    PublicInstagramAccount:
      type: object
      properties:
        id:
          type: number
        instagramUserId:
          type: string
        username:
          type: string
          nullable: true
        assistantId:
          type: string
          nullable: true
        assistant:
          $ref: '#/components/schemas/PublicChannelAssistant'
      required:
      - id
      - instagramUserId
    PublicMessengerPage:
      type: object
      properties:
        id:
          type: number
        pageId:
          type: string
        pageName:
          type: string
          nullable: true
        assistantId:
          type: string
          nullable: true
        assistant:
          $ref: '#/components/schemas/PublicChannelAssistant'
      required:
      - id
      - pageId
    PublicChannelsOutput:
      type: object
      properties:
        whatsapp:
          type: object
          properties:
            connected:
              type: boolean
            phoneNumbers:
              type: array
              items:
                $ref: '#/components/schemas/PublicWhatsAppPhoneNumber'
          required:
          - connected
          - phoneNumbers
          description: WhatsApp Business numbers connected to this account.
        instagram:
          type: object
          properties:
            connected:
              type: boolean
            accounts:
              type: array
              items:
                $ref: '#/components/schemas/PublicInstagramAccount'
          required:
          - connected
          - accounts
          description: Instagram accounts connected to this account.
        messenger:
          type: object
          properties:
            connected:
              type: boolean
            pages:
              type: array
              items:
                $ref: '#/components/schemas/PublicMessengerPage'
          required:
          - connected
          - pages
          description: Messenger pages connected to this account.
      required:
      - whatsapp
      - instagram
      - messenger
    PublicWhatsAppTemplateParameters:
      type: object
      properties:
        HEADER:
          type: array
          items:
            type: string
        BODY:
          type: array
          items:
            type: string
        FOOTER:
          type: array
          items:
            type: string
        BUTTONS:
          type: array
          items:
            type: string
        BUTTONS_URL:
          type: array
          items:
            type: string
    PublicWhatsAppTemplate:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          description: Template name to use in SEND_WHATSAPP_MESSAGE nodes.
          example: hello_world
        language:
          type: string
        status:
          type: string
        category:
          type: string
        components:
          type: array
          items:
            type: object
            additionalProperties:
              nullable: true
        parameters:
          $ref: '#/components/schemas/PublicWhatsAppTemplateParameters'
      required:
      - name
    PublicWhatsAppTemplatesOutput:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicWhatsAppTemplate'
      required:
      - results
    PublicConnectedAccount:
      type: object
      properties:
        id:
          type: number
          description: Connected account ID. Use as connectedAccountId in agent settings, flows, and workflows.
        toolkit:
          type: string
          example: googlesheets
        alias:
          type: string
          nullable: true
        visibility:
          type: string
          enum:
          - PRIVATE
          - SHARED
        isConnected:
          type: boolean
        isExpired:
          type: boolean
        connectedEmail:
          type: string
          nullable: true
        connectedAt:
          type: string
          nullable: true
        availableToolsCount:
          type: number
          nullable: true
        enabledToolsCount:
          type: number
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
      - id
      - toolkit
      - visibility
      - isConnected
      - isExpired
      - createdAt
      - updatedAt
    PublicIntegrationsListResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicConnectedAccount'
      required:
      - results
    PublicTriggerConfigField:
      type: object
      properties:
        name:
          type: string
          description: Key to send inside triggerConfig on the TRIGGER node.
          example: folder_id
        type:
          type: string
          example: string
        description:
          type: string
        required:
          type: boolean
          description: When true, the trigger cannot be created without this config field.
        userConfigurable:
          type: boolean
          description: When false the value is managed by the platform and is ignored if you send it.
        resourceType:
          type: string
          nullable: true
          enum:
          - gmail_labels
          - googlesheets_spreadsheets
          - googlesheets_sheets
          - googledocs_documents
          - googledrive_folders
          - googledrive_shared_drives
          - onedrive_folders
          - asana_workspaces
          - asana_projects
          - salesforce_sobjects
          - salesforce_sobject_fields
          - outlook_folders
          - outlook_calendars
          description: Picker that lists valid values for this field. Call GET /public/v1/integrations/trigger-resources
            with this resourceType. Null when the value is free text.
          example: googledrive_folders
      required:
      - name
      - type
      - description
      - required
      - userConfigurable
      - resourceType
    PublicTriggerType:
      type: object
      properties:
        slug:
          type: string
          description: Send as data.triggerSlug on a COMPOSIO_TRIGGER node.
          example: GOOGLEDRIVE_FILE_CREATED_TRIGGER
        toolkit:
          type: string
          enum:
          - GMAIL
          - GOOGLECALENDAR
          - SLACK
          - CALENDLY
          - GOOGLEDOCS
          - GOOGLESHEETS
          - NOTION
          - GOOGLEDRIVE
          - GRANOLA_MCP
          - GOOGLEMEET
          - ZOOM
          - GAMMA
          - STRIPE
          - POSTHOG
          - LINKEDIN
          - FACEBOOK
          - GOOGLE_ANALYTICS
          - GOOGLE_SEARCH_CONSOLE
          - MAILCHIMP
          - SEMRUSH
          - GOOGLEADS
          - INSTAGRAM
          - ADYNTEL
          - GOOGLETASKS
          - LINEAR
          - JIRA
          - ASANA
          - SHARE_POINT
          - ONE_DRIVE
          - EXCEL
          - TIKTOK
          - TWITTER
          - YOUTUBE
          - GOOGLE_MAPS
          - METAADS
          - SHOPIFY
          - AIRTABLE
          - MONDAY
          - TRELLO
          - GOOGLESLIDES
          - BUILTWITH
          - HUBSPOT
          - PIPEDRIVE
          - ATTIO
          - ZENDESK
          - SALESFORCE
          - SALESFORCE_SERVICE_CLOUD
          - INTERCOM
          - WEBFLOW
          - FIGMA
          - APOLLO
          - OUTLOOK
          - FRESHDESK
          - ZOHO_DESK
          - ZOHO_INVOICE
          - ZOHO
          - BREX
          description: Send as data.triggerToolkit on a COMPOSIO_TRIGGER node.
          example: GOOGLEDRIVE
        name:
          type: string
          example: File Created
        description:
          type: string
        deliveryType:
          type: string
          enum:
          - POLL
          - WEBHOOK
          description: POLL triggers are checked on an interval; WEBHOOK triggers are pushed.
        configFields:
          type: array
          items:
            $ref: '#/components/schemas/PublicTriggerConfigField'
      required:
      - slug
      - toolkit
      - name
      - description
      - deliveryType
      - configFields
    PublicTriggerTypesListResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicTriggerType'
      required:
      - results
    PublicTriggerResource:
      type: object
      properties:
        id:
          type: string
          description: Value to send in triggerConfig for the matching field.
        name:
          type: string
      required:
      - id
      - name
    PublicTriggerResourcesListResponse:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - gmail_labels
          - googlesheets_spreadsheets
          - googlesheets_sheets
          - googledocs_documents
          - googledrive_folders
          - googledrive_shared_drives
          - onedrive_folders
          - asana_workspaces
          - asana_projects
          - salesforce_sobjects
          - salesforce_sobject_fields
          - outlook_folders
          - outlook_calendars
        parent:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicTriggerResource'
        total:
          type: number
      required:
      - resourceType
      - parent
      - results
      - total
    ErrorBody:
      type: object
      properties:
        code:
          type: string
          enum:
          - bad_request
          - unauthorized
          - forbidden
          - not_found
          - conflict
          - internal_error
          - cli_outdated
          example: unauthorized
        message:
          type: string
          example: Detailed error message
        details:
          type: object
          description: 'Optional structured details. Validation errors include `{ issues: [...] }`.'
          example:
            issues:
            - path:
              - name
              message: String must contain at least 1 character(s)
              code: too_small
      required:
      - code
      - message
    Error:
      type: object
      properties:
        ok:
          type: boolean
          enum:
          - false
          example: false
        error:
          $ref: '#/components/schemas/ErrorBody'
      required:
      - ok
      - error
    PublicIntegration:
      type: object
      properties:
        id:
          type: number
        toolkit:
          type: string
        alias:
          type: string
          nullable: true
        visibility:
          type: string
          enum:
          - PRIVATE
          - SHARED
        isConnected:
          type: boolean
        isExpired:
          type: boolean
          default: false
        connectedEmail:
          type: string
          nullable: true
        connectedAt:
          type: string
          nullable: true
        composioConnectedAccountId:
          type: string
          nullable: true
        allowedToolSlugs:
          type: array
          nullable: true
          items:
            type: string
        availableToolsCount:
          type: number
          nullable: true
        enabledToolsCount:
          type: number
          nullable: true
        accountId:
          type: number
          nullable: true
        createdByUserId:
          type: number
          nullable: true
        createdByUser:
          type: object
          nullable: true
          properties:
            id:
              type: number
            firstName:
              type: string
            lastName:
              type: string
            email:
              type: string
            avatar:
              type: string
              nullable: true
          required:
          - id
          - firstName
          - lastName
          - email
          - avatar
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
      - id
      - toolkit
      - visibility
      - isConnected
      - createdAt
      - updatedAt
    PublicIntegrationList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicIntegration'
      required:
      - results
    PublicIntegrationToolkit:
      type: object
      properties:
        toolkit:
          type: string
          example: GMAIL
        name:
          type: string
          example: Gmail
        description:
          type: string
          nullable: true
          example: Send and read email via Gmail
        authScheme:
          type: string
          example: OAUTH2
        toolCount:
          type: number
          example: 12
        tools:
          type: array
          items:
            type: string
          example:
          - GMAIL_SEND_EMAIL
      required:
      - toolkit
      - name
      - authScheme
      - toolCount
      - tools
    PublicIntegrationToolkitList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicIntegrationToolkit'
      required:
      - results
    PublicIntegrationUpdateInput:
      type: object
      properties:
        alias:
          type: string
          nullable: true
          minLength: 1
          maxLength: 100
        visibility:
          type: string
          enum:
          - PRIVATE
          - SHARED
    PublicIntegrationTools:
      type: object
      properties:
        enabledTools:
          type: array
          items:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
              description:
                type: string
              enabled:
                type: boolean
              hasRequiredScopes:
                type: boolean
            required:
            - slug
            - name
            - description
            - enabled
            - hasRequiredScopes
        availableTools:
          type: array
          items:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
              description:
                type: string
              enabled:
                type: boolean
              hasRequiredScopes:
                type: boolean
            required:
            - slug
            - name
            - description
            - enabled
            - hasRequiredScopes
      required:
      - enabledTools
      - availableTools
    PublicIntegrationSetToolsInput:
      type: object
      properties:
        slugs:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
      required:
      - slugs
    PublicVisualOptions:
      type: object
      properties:
        iconKeys:
          type: array
          items:
            type: string
          description: Valid icon keys for the `icon`/`emoji` field on objects and record types (the IconPicker
            set).
          example:
          - home
          - users
          - briefcase
          - rocket
        iconColors:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: blue
              value:
                type: string
                example: '#60a5fa'
            required:
            - name
            - value
          description: Valid colors for an object/record-type/field `iconColor`.
        optionColors:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: blue
              value:
                type: string
                example: '#60a5fa'
            required:
            - name
            - value
          description: 'Valid preset colors for tag/select option `color` (note: a different palette from
            iconColor).'
        tagModes:
          type: array
          items:
            type: string
          example:
          - singleSelect
          - multiSelect
        relationModes:
          type: array
          items:
            type: string
          example:
          - single
          - multi
      required:
      - iconKeys
      - iconColors
      - optionColors
      - tagModes
      - relationModes
    PublicFieldGuidance:
      type: object
      properties:
        guidance:
          type: string
          description: Markdown reference covering every field/column type, its metadata shape, and best
            practices — generated from the same constants the create/update schemas validate against.
      required:
      - guidance
    PublicNodeTypeList:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: TOOLS_AI
              validInFlow:
                type: boolean
                description: Usable in an agent flow (WorkflowType.FLOW).
                example: true
              validInAutomation:
                type: boolean
                description: Usable in an automation workflow (WorkflowType.AUTOMATION).
                example: true
              allowsMultipleOutgoingHandles:
                type: boolean
                description: May fan out to more than one outgoing edge.
                example: true
            required:
            - type
            - validInFlow
            - validInAutomation
            - allowsMultipleOutgoingHandles
      required:
      - results
    PublicNodeGuidance:
      type: object
      properties:
        nodeType:
          type: string
          example: TOOLS_AI
        guidance:
          type: string
          description: Markdown guidance for configuring this node type. Empty when no guidance is published
            for the type.
      required:
      - nodeType
      - guidance
    Me:
      type: object
      properties:
        ok:
          type: boolean
          enum:
          - true
          example: true
        data:
          type: object
          properties:
            account:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  example: 1234
                name:
                  type: string
                  example: Acme Inc.
                namespace:
                  type: string
                  example: acme
              required:
              - id
              - name
              - namespace
            user:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  example: 56
                email:
                  type: string
                  example: you@acme.com
              required:
              - id
              - email
              description: Null for GENERAL API keys; populated for USER keys.
          required:
          - account
          - user
      required:
      - ok
      - data
    IncomingWebhookCreateOutput:
      type: object
      properties:
        id:
          type: string
          example: clx123incomingwebhook
        name:
          type: string
          example: External CRM event
        description:
          type: string
          nullable: true
          example: Receives events from the external CRM
        url:
          type: string
          example: https://hooks.example.com/webhook/clx123incomingwebhook
        isActive:
          type: boolean
          example: true
        useAuthentication:
          type: boolean
          example: true
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        accessToken:
          type: string
          nullable: true
          example: 64-character-access-token
      required:
      - id
      - name
      - url
      - isActive
      - useAuthentication
      - createdAt
      - updatedAt
    PublicIncomingWebhookCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: External CRM event
        description:
          type: string
          nullable: true
          example: Receives events from the external CRM
        isActive:
          type: boolean
          default: true
          example: true
        useAuthentication:
          type: boolean
          default: true
          example: true
      required:
      - name
    PublicIncomingWebhook:
      type: object
      properties:
        id:
          type: string
          example: clx123incomingwebhook
        name:
          type: string
          example: External CRM event
        description:
          type: string
          nullable: true
          example: Receives events from the external CRM
        url:
          type: string
          example: https://hooks.example.com/webhook/clx123incomingwebhook
        isActive:
          type: boolean
          example: true
        useAuthentication:
          type: boolean
          example: true
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        accessToken:
          type: string
          nullable: true
          example: 64-character-access-token
      required:
      - id
      - name
      - url
      - isActive
      - useAuthentication
      - createdAt
      - updatedAt
    PublicIncomingWebhookUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: External CRM event
        description:
          type: string
          nullable: true
          example: Receives events from the external CRM
        isActive:
          type: boolean
          example: true
        useAuthentication:
          type: boolean
          example: true
    PublicIncomingWebhookEvent:
      type: object
      properties:
        id:
          type: string
          example: clx987event
        status:
          type: string
          enum:
          - RECEIVED
          - PROCESSING
          - COMPLETED
          - FAILED
          - TIMEOUT
          example: COMPLETED
        payload:
          nullable: true
          description: Raw JSON payload received
        payloadSize:
          type: number
          nullable: true
          example: 512
        ipAddress:
          type: string
          nullable: true
          example: 203.0.113.10
        userAgent:
          type: string
          nullable: true
          example: curl/8.4.0
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
      required:
      - id
      - status
      - createdAt
      - updatedAt
    PublicIncomingWebhookEventList:
      type: object
      properties:
        count:
          type: number
        pageSize:
          type: number
        pageNum:
          type: number
        totalPages:
          type: number
        cursor:
          type: number
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicIncomingWebhookEvent'
        paginationType:
          type: string
          enum:
          - offset
          - cursor
          default: offset
        nextCursor:
          anyOf:
          - type: string
          - type: number
          - nullable: true
      required:
      - pageSize
      - results
    PublicIncomingWebhookEventDetail:
      allOf:
      - $ref: '#/components/schemas/PublicIncomingWebhookEvent'
      - type: object
        properties:
          automations:
            type: array
            items:
              type: object
              properties:
                id:
                  type: number
                  example: 42
                name:
                  type: string
                  example: Notify sales channel
                status:
                  type: string
                  nullable: true
                  example: ACTIVE
              required:
              - id
              - name
    AiModel:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        description:
          type: string
          nullable: true
        creditsPerMessage:
          type: number
        isDefault:
          type: boolean
        order:
          type: number
        analyticsColor:
          type: string
          nullable: true
        externalId:
          type: string
          nullable: true
        aiVendor:
          type: string
        reasoningModel:
          type: boolean
        type:
          type: string
          enum:
          - TEXT
          - TRANSCRIPTION
          - FILE_ANALYSIS
      required:
      - id
      - name
    CustomTool:
      type: object
      properties:
        id:
          type: number
          example: 123
        name:
          type: string
          example: Fetch contact
        description:
          type: string
          example: Fetches a contact from the external CRM
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        status:
          type: string
          nullable: true
          enum:
          - PAUSED
          - ACTIVE
          - DELETED
          example: ACTIVE
        method:
          type: string
          nullable: true
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          example: GET
        url:
          type: string
          nullable: true
          example: https://api.example.com/contacts/123
        body:
          type: string
          nullable: true
        arguments:
          type: array
          nullable: true
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
                nullable: true
              dataType:
                type: string
                enum:
                - STRING
                - NUMBER
                - DECIMAL
                - BOOLEAN
              required:
                type: boolean
                nullable: true
              defaultValue:
                type: string
                nullable: true
            required:
            - name
            - dataType
        headers:
          type: array
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: Authorization
              value:
                type: string
                example: Bearer {apiKey}
            required:
            - key
            - value
        queryParams:
          type: array
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: limit
              value:
                type: string
                example: '10'
            required:
            - key
            - value
        type:
          type: string
          enum:
          - API_CALL
          - WHATSAPP_TEMPLATE_MESSAGE
          example: API_CALL
      required:
      - id
      - name
      - description
      - createdAt
      - updatedAt
      - type
    Variable:
      type: object
      properties:
        id:
          type: number
          example: 123
        name:
          type: string
          example: customer_name
        description:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - ACTIVE
          - DELETED
          example: ACTIVE
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        assistantId:
          type: string
          nullable: true
        automationId:
          type: number
          nullable: true
        pattern:
          type: string
          nullable: true
        defaultValue:
          type: string
          nullable: true
        isDefault:
          type: boolean
          example: false
      required:
      - id
      - name
      - status
      - createdAt
      - updatedAt
      - isDefault
    PublicFlowVariableCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: customer_name
        description:
          type: string
          nullable: true
          example: Customer name captured during the conversation
        pattern:
          type: string
          nullable: true
          example: ^[A-Za-z ]+$
      required:
      - name
    VariableCheckName:
      type: object
      properties:
        exists:
          type: boolean
          example: false
      required:
      - exists
    PublicVariableUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: customer_name
        description:
          type: string
          nullable: true
          example: Customer name captured during the conversation
        pattern:
          type: string
          nullable: true
          example: ^[A-Za-z ]+$
      required:
      - name
    PublicWorkflowVariableCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: customer_name
        description:
          type: string
          nullable: true
          example: Customer name captured during the conversation
        pattern:
          type: string
          nullable: true
          example: ^[A-Za-z ]+$
      required:
      - name
    Intent:
      type: object
      properties:
        id:
          type: number
          example: 10
        name:
          type: string
          example: Cancel order
        description:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          nullable: true
          example: '2024-01-01T12:00:00Z'
        status:
          type: string
          enum:
          - ACTIVE
          - DELETED
          example: ACTIVE
        assistantId:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        phrases:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                example: 1
              phrase:
                type: string
                example: cancel my order
            required:
            - id
            - phrase
        flowId:
          type: number
          nullable: true
      required:
      - id
      - name
      - createdAt
      - updatedAt
      - status
      - assistantId
    PublicIntentCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Cancel order
        description:
          type: string
          nullable: true
          example: User wants to cancel
        phrases:
          type: array
          items:
            type: string
          minItems: 1
          example:
          - cancel my order
      required:
      - name
      - phrases
    PublicIntentGeneratePhrasesOutput:
      type: object
      properties:
        phrases:
          type: array
          items:
            type: string
          example:
          - I want to cancel my order
      required:
      - phrases
    PublicIntentGeneratePhrasesInput:
      type: object
      properties:
        name:
          type: string
          example: Cancel order
        samples:
          type: array
          items:
            type: string
          example:
          - cancel my order
          - stop the order
        amount:
          type: integer
          minimum: 1
          maximum: 50
          example: 10
      required:
      - name
      - samples
      - amount
    PublicIntentUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Cancel order
        description:
          type: string
          nullable: true
          example: User wants to cancel
        phrases:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                nullable: true
              phrase:
                type: string
                example: cancel my order
            required:
            - phrase
          minItems: 1
      required:
      - name
      - phrases
    PublicToolCreateInput:
      type: object
      properties:
        type:
          type: string
          enum:
          - API_CALL
          default: API_CALL
          example: API_CALL
        name:
          type: string
          minLength: 1
          maxLength: 256
          example: Fetch contact
        description:
          type: string
          maxLength: 1000
          example: Fetches a contact from the external CRM
        method:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          example: GET
        url:
          type: string
          format: uri
          example: https://api.example.com/contacts/123
        body:
          type: string
          description: Raw request body template (typically a JSON string). Interpolate argument values
            with single braces, e.g. {contactName} (not double braces).
          example: '{"name":"{contactName}"}'
        arguments:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                example: contactId
              description:
                type: string
                minLength: 1
                example: The contact ID to fetch
              dataType:
                type: string
                enum:
                - STRING
                - NUMBER
                - DECIMAL
                - BOOLEAN
                description: Argument type. Use STRING, NUMBER (covers decimals), or BOOLEAN. DECIMAL
                  is accepted but not shown in the app UI — prefer NUMBER.
                example: STRING
              required:
                type: boolean
                default: true
                description: Whether the caller must provide this argument. Defaults to true.
                example: true
              defaultValue:
                type: string
                description: Fallback value (as a string, coerced to dataType) used when the argument
                  is omitted.
                example: normal
            required:
            - name
            - dataType
        headers:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: Authorization
              value:
                type: string
                example: Bearer {apiKey}
            required:
            - key
            - value
        queryParams:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: limit
              value:
                type: string
                example: '10'
            required:
            - key
            - value
      required:
      - name
      - description
      - method
      - url
    PublicToolTestOutput:
      type: object
      properties:
        status:
          type: number
          example: 200
        headers:
          type: object
          additionalProperties:
            type: string
          example:
            content-type: application/json
        data:
          nullable: true
        duration:
          type: number
          description: Request duration in milliseconds
          example: 245
        contentLength:
          type: number
          nullable: true
          example: 128
      required:
      - status
      - headers
      - duration
    PublicToolTestInput:
      type: object
      properties:
        values:
          type: object
          additionalProperties:
            nullable: true
          default: {}
          description: Argument values keyed by argument name. Every declared tool argument must be present.
          example:
            contactId: '42'
    PublicToolUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          example: Fetch contact
        description:
          type: string
          maxLength: 1000
          example: Fetches a contact from the external CRM
        status:
          type: string
          enum:
          - ACTIVE
          - PAUSED
          example: ACTIVE
        method:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          example: GET
        url:
          type: string
          format: uri
          example: https://api.example.com/contacts/123
        body:
          type: string
          description: Raw request body template (typically a JSON string). Interpolate argument values
            with single braces, e.g. {contactName} (not double braces).
          example: '{"name":"{contactName}"}'
        arguments:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                example: contactId
              description:
                type: string
                minLength: 1
                example: The contact ID to fetch
              dataType:
                type: string
                enum:
                - STRING
                - NUMBER
                - DECIMAL
                - BOOLEAN
                description: Argument type. Use STRING, NUMBER (covers decimals), or BOOLEAN. DECIMAL
                  is accepted but not shown in the app UI — prefer NUMBER.
                example: STRING
              required:
                type: boolean
                default: true
                description: Whether the caller must provide this argument. Defaults to true.
                example: true
              defaultValue:
                type: string
                description: Fallback value (as a string, coerced to dataType) used when the argument
                  is omitted.
                example: normal
            required:
            - name
            - dataType
        headers:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: Authorization
              value:
                type: string
                example: Bearer {apiKey}
            required:
            - key
            - value
        queryParams:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: limit
              value:
                type: string
                example: '10'
            required:
            - key
            - value
    Agent:
      type: object
      properties:
        id:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Support Bot
        description:
          type: string
          nullable: true
          example: Main customer support agent
        status:
          type: string
          enum:
          - NONE
          - ACTIVE
          - INACTIVE
          - TRAINING
          - TRAIN_ERROR
          example: ACTIVE
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
      required:
      - id
      - name
      - description
      - status
      - createdAt
      - updatedAt
    AgentTheme:
      type: object
      nullable: true
      properties:
        id:
          type: number
        assistantId:
          type: string
        avatar:
          type: string
          nullable: true
        bubbleImage:
          type: string
          nullable: true
        title:
          type: string
        initialMessage:
          type: string
        placeholder:
          type: string
        bubbleColor:
          type: string
        userMessageColor:
          type: string
        agentMessageColor:
          type: string
          nullable: true
        bubbleAlignment:
          type: string
          enum:
          - RIGHT
          - LEFT
        progressIndicator:
          type: string
          enum:
          - STATIC
          - DYNAMIC
        verticalPositionInPixels:
          type: number
        removePowerBy:
          type: boolean
        updatedAt:
          type: string
      required:
      - id
      - avatar
      - bubbleImage
      - title
      - initialMessage
      - placeholder
      - bubbleColor
      - userMessageColor
      - agentMessageColor
      - bubbleAlignment
      - progressIndicator
      - verticalPositionInPixels
    AgentSetting:
      type: object
      nullable: true
      properties:
        id:
          type: number
        aiModelId:
          type: number
          nullable: true
        aiModel:
          allOf:
          - $ref: '#/components/schemas/AiModel'
          - nullable: true
        model:
          type: string
          nullable: true
        aiType:
          type: string
          enum:
          - ASSISTANT
          - AGENT
        temperature:
          type: number
        instructions:
          type: string
          nullable: true
        agentRole:
          type: string
          enum:
          - NONE
          - CUSTOM
          - CUSTOMER_SUPPORT
          - SALES_REPRESENTATIVE
          - COLLECTIONS
          - RECRUITING_AGENT
          - HR_MANAGER
          - PRODUCT_COPILOT
          - AI_ASSISTANT
          - ANALYST
          - POST_SALES
        toneOfVoice:
          type: string
          enum:
          - NONE
          - CUSTOM
          - FRIENDLY
          - NEUTRAL
          - MATTER_OF_FACT
          - PROFESSIONAL
          - HUMOROUS
          - WITTY
          - GEN_Z
        answerLength:
          type: string
          enum:
          - NONE
          - CUSTOM
          - DYNAMIC
          - CONCISE
          - STANDARD
          - THOROUGH
        maxIterations:
          type: number
        agentType:
          type: string
          enum:
          - BASIC
          - ADVANCED
        customTools:
          type: array
          nullable: true
          items:
            type: object
            properties:
              id:
                type: number
              name:
                type: string
              description:
                type: string
                nullable: true
              status:
                type: string
                nullable: true
              type:
                type: string
                nullable: true
            required:
            - id
            - name
        systemToolsConfig:
          nullable: true
        selectedRecordTypes:
          type: array
          nullable: true
          items:
            type: object
            properties:
              recordTypeId:
                type: number
              read:
                type: boolean
              create:
                type: boolean
              update:
                type: boolean
              delete:
                type: boolean
              createActivity:
                type: boolean
            required:
            - recordTypeId
        agentConnectedAccounts:
          type: array
          nullable: true
          items:
            type: object
            properties:
              connectedAccountId:
                type: number
              useAllTools:
                type: boolean
              selectedToolSlugs:
                type: array
                nullable: true
                items:
                  type: string
              connectedAccount:
                type: object
                properties:
                  id:
                    type: number
                  toolkit:
                    type: string
                  alias:
                    type: string
                    nullable: true
                  connectedEmail:
                    type: string
                    nullable: true
                  isConnected:
                    type: boolean
                required:
                - id
                - toolkit
                - alias
                - connectedEmail
                - isConnected
            required:
            - connectedAccountId
            - useAllTools
        agentPlaybooks:
          type: array
          nullable: true
          items:
            type: object
            properties:
              playbookId:
                type: number
              assignedAt:
                type: string
              playbook:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                required:
                - id
                - name
            required:
            - playbookId
      required:
      - id
    AgentDetail:
      allOf:
      - $ref: '#/components/schemas/Agent'
      - type: object
        properties:
          isOffline:
            type: boolean
            example: false
          ownerId:
            type: number
          accountId:
            type: number
          theme:
            $ref: '#/components/schemas/AgentTheme'
          agentSetting:
            $ref: '#/components/schemas/AgentSetting'
          channel:
            type: object
            nullable: true
            properties:
              id:
                type: number
              channelLiveChat:
                type: object
                nullable: true
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type: number
                    nullable: true
                  timeUnit:
                    type: string
                    nullable: true
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type: string
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  collectFeedback:
                    type: boolean
                  feedbackVisibility:
                    type: string
                    enum:
                    - ON_HOVER
                    - ALWAYS_VISIBLE
                  feedbackText:
                    type: string
                    nullable: true
                  collectFeedbackReason:
                    type: boolean
                  includeOtherReason:
                    type: boolean
                  openFeedbackText:
                    type: string
                    nullable: true
                  feedbackReasons:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        reason:
                          type: string
                        order:
                          type: number
                      required:
                      - id
                      - reason
                      - order
                  enableDocumentProcessing:
                    type: boolean
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: number
                        nullable: true
                      after:
                        type: number
                        nullable: true
                      timeUnit:
                        type: string
                        nullable: true
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type: number
                        nullable: true
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  id:
                    type: number
                required:
                - splitMessages
                - splitCharacterLimit
                - closeAfter
                - timeUnit
                - conversationClose
                - collectFeedback
                - feedbackVisibility
                - feedbackText
                - collectFeedbackReason
                - includeOtherReason
                - openFeedbackText
                - enableIdle
                - id
              channelWhatsapp:
                type: object
                nullable: true
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type: number
                    nullable: true
                  timeUnit:
                    type: string
                    nullable: true
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type: string
                    nullable: true
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  enableDocumentProcessing:
                    type: boolean
                  enableImageProcessing:
                    type: boolean
                  debounce:
                    type: boolean
                  debounceTime:
                    type: integer
                    minimum: 0
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: number
                        nullable: true
                      after:
                        type: number
                        nullable: true
                      timeUnit:
                        type: string
                        nullable: true
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type: number
                        nullable: true
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type: string
                    nullable: true
                    enum:
                    - MINUTES
                    - HOURS
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type: string
                    nullable: true
                  closeInstruction:
                    type: string
                    nullable: true
                  autoReplyOnUninterrupt:
                    type: boolean
                  id:
                    type: number
                required:
                - splitMessages
                - splitCharacterLimit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
                - id
              channelInstagram:
                type: object
                nullable: true
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type: number
                    nullable: true
                  timeUnit:
                    type: string
                    nullable: true
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type: string
                    nullable: true
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: number
                        nullable: true
                      after:
                        type: number
                        nullable: true
                      timeUnit:
                        type: string
                        nullable: true
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type: number
                        nullable: true
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type: string
                    nullable: true
                    enum:
                    - MINUTES
                    - HOURS
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type: string
                    nullable: true
                  closeInstruction:
                    type: string
                    nullable: true
                  autoReplyOnUninterrupt:
                    type: boolean
                  id:
                    type: number
                required:
                - splitMessages
                - splitCharacterLimit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
                - id
              channelMessenger:
                type: object
                nullable: true
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type: number
                    nullable: true
                  timeUnit:
                    type: string
                    nullable: true
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type: string
                    nullable: true
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: number
                        nullable: true
                      after:
                        type: number
                        nullable: true
                      timeUnit:
                        type: string
                        nullable: true
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type: number
                        nullable: true
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type: string
                    nullable: true
                    enum:
                    - MINUTES
                    - HOURS
                  autoReplyOnUninterrupt:
                    type: boolean
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type: string
                    nullable: true
                  closeInstruction:
                    type: string
                    nullable: true
                  id:
                    type: number
                required:
                - splitMessages
                - splitCharacterLimit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
                - id
            required:
            - id
        required:
        - isOffline
        - accountId
    PublicAgentCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Support Agent
      required:
      - name
    PublicAgentUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          example: Support Agent
      required:
      - name
    PublicAgentSettingUpdateInput:
      type: object
      properties:
        aiModelId:
          type: number
          nullable: true
        temperature:
          type: number
          minimum: 0
          maximum: 1
        instructions:
          type: string
          nullable: true
        maxIterations:
          type: number
          minimum: 3
          maximum: 30
          default: 10
        agentType:
          type: string
          enum:
          - BASIC
          - ADVANCED
          default: BASIC
        customToolIds:
          type: array
          nullable: true
          items:
            type: number
        connectedAccountConfigs:
          type: array
          nullable: true
          items:
            type: object
            properties:
              connectedAccountId:
                type: number
              useAllTools:
                type: boolean
                default: true
              selectedToolSlugs:
                type: array
                nullable: true
                items:
                  type: string
            required:
            - connectedAccountId
        systemToolsConfig:
          type: object
          nullable: true
          properties:
            webSearchEnabled:
              type: boolean
              default: false
            urlScrapeEnabled:
              type: boolean
              default: false
            linkedinSearchEnabled:
              type: boolean
              default: false
        selectedRecordTypes:
          type: array
          nullable: true
          items:
            type: object
            properties:
              recordTypeId:
                type: number
              read:
                type: boolean
              create:
                type: boolean
              update:
                type: boolean
              delete:
                type: boolean
              createActivity:
                type: boolean
            required:
            - recordTypeId
      required:
      - aiModelId
      - temperature
      - instructions
    PublicAgentThemeUpdateOutput:
      type: object
      properties:
        id:
          type: number
        assistantId:
          type: string
        avatar:
          type: string
          nullable: true
        bubbleImage:
          type: string
          nullable: true
        title:
          type: string
        initialMessage:
          type: string
        placeholder:
          type: string
        bubbleColor:
          type: string
        userMessageColor:
          type: string
        agentMessageColor:
          type: string
          nullable: true
        bubbleAlignment:
          type: string
          enum:
          - RIGHT
          - LEFT
        progressIndicator:
          type: string
          enum:
          - STATIC
          - DYNAMIC
        verticalPositionInPixels:
          type: number
        updatedAt:
          type: string
      required:
      - id
      - assistantId
      - avatar
      - bubbleImage
      - title
      - initialMessage
      - placeholder
      - bubbleColor
      - userMessageColor
      - agentMessageColor
      - bubbleAlignment
      - progressIndicator
      - verticalPositionInPixels
      - updatedAt
    PublicAgentThemeUpdateInput:
      type: object
      properties:
        avatar:
          type: string
          nullable: true
        bubbleImage:
          type: string
          nullable: true
        title:
          type: string
        initialMessage:
          type: string
        placeholder:
          type: string
        bubbleColor:
          type: string
        userMessageColor:
          type: string
        agentMessageColor:
          type: string
          nullable: true
        bubbleAlignment:
          type: string
          enum:
          - RIGHT
          - LEFT
        progressIndicator:
          type: string
          enum:
          - STATIC
          - DYNAMIC
        verticalPositionInPixels:
          type: number
      required:
      - avatar
      - bubbleImage
      - title
      - initialMessage
      - placeholder
      - bubbleColor
      - userMessageColor
      - agentMessageColor
      - bubbleAlignment
      - progressIndicator
      - verticalPositionInPixels
    PublicAgentDeploymentStatusInput:
      type: object
      properties:
        isOffline:
          type: boolean
      required:
      - isOffline
    AgentChannelSettings:
      type: object
      properties:
        liveChat:
          type: object
          properties:
            splitMessages:
              type: boolean
            splitCharacterLimit:
              type: integer
            closeAfter:
              type: number
              nullable: true
            timeUnit:
              type: string
              nullable: true
              enum:
              - MINUTES
              - HOURS
            conversationClose:
              type: string
              enum:
              - NEVER
              - AUTOMATICALLY
              - DYNAMICALLY
            collectFeedback:
              type: boolean
            feedbackVisibility:
              type: string
              enum:
              - ON_HOVER
              - ALWAYS_VISIBLE
            feedbackText:
              type: string
              nullable: true
            collectFeedbackReason:
              type: boolean
            includeOtherReason:
              type: boolean
            openFeedbackText:
              type: string
              nullable: true
            feedbackReasons:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  id:
                    type: number
                  reason:
                    type: string
                  order:
                    type: number
                required:
                - id
                - reason
                - order
            enableDocumentProcessing:
              type: boolean
            enableImageProcessing:
              type: boolean
            enableIdle:
              type: boolean
            idleSettings:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  nullable: true
                after:
                  type: number
                  nullable: true
                timeUnit:
                  type: string
                  nullable: true
                  enum:
                  - MINUTES
                  - HOURS
                resetsLimit:
                  type: number
                  nullable: true
              required:
              - after
              - timeUnit
              - resetsLimit
          required:
          - splitMessages
          - splitCharacterLimit
          - closeAfter
          - timeUnit
          - conversationClose
          - collectFeedback
          - feedbackVisibility
          - feedbackText
          - collectFeedbackReason
          - includeOtherReason
          - openFeedbackText
          - enableIdle
        whatsApp:
          type: object
          properties:
            splitMessages:
              type: boolean
            splitCharacterLimit:
              type: integer
            closeAfter:
              type: number
              nullable: true
            timeUnit:
              type: string
              nullable: true
              enum:
              - MINUTES
              - HOURS
            conversationClose:
              type: string
              nullable: true
              enum:
              - NEVER
              - AUTOMATICALLY
              - DYNAMICALLY
            enableDocumentProcessing:
              type: boolean
            enableImageProcessing:
              type: boolean
            debounce:
              type: boolean
            debounceTime:
              type: integer
              minimum: 0
            enableIdle:
              type: boolean
            idleSettings:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  nullable: true
                after:
                  type: number
                  nullable: true
                timeUnit:
                  type: string
                  nullable: true
                  enum:
                  - MINUTES
                  - HOURS
                resetsLimit:
                  type: number
                  nullable: true
              required:
              - after
              - timeUnit
              - resetsLimit
            conversationInterruptTimeout:
              type: integer
              minimum: 0
            conversationInterruptTimeUnit:
              type: string
              nullable: true
              enum:
              - MINUTES
              - HOURS
            sendCloseMessage:
              type: boolean
            closeMessageType:
              type: string
              enum:
              - STATIC
              - DYNAMIC
            closeMessage:
              type: string
              nullable: true
            closeInstruction:
              type: string
              nullable: true
            autoReplyOnUninterrupt:
              type: boolean
          required:
          - splitMessages
          - splitCharacterLimit
          - enableIdle
          - sendCloseMessage
          - closeMessageType
        instagram:
          type: object
          properties:
            splitMessages:
              type: boolean
            splitCharacterLimit:
              type: integer
            closeAfter:
              type: number
              nullable: true
            timeUnit:
              type: string
              nullable: true
              enum:
              - MINUTES
              - HOURS
            conversationClose:
              type: string
              nullable: true
              enum:
              - NEVER
              - AUTOMATICALLY
              - DYNAMICALLY
            enableImageProcessing:
              type: boolean
            enableIdle:
              type: boolean
            idleSettings:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  nullable: true
                after:
                  type: number
                  nullable: true
                timeUnit:
                  type: string
                  nullable: true
                  enum:
                  - MINUTES
                  - HOURS
                resetsLimit:
                  type: number
                  nullable: true
              required:
              - after
              - timeUnit
              - resetsLimit
            conversationInterruptTimeout:
              type: integer
              minimum: 0
            conversationInterruptTimeUnit:
              type: string
              nullable: true
              enum:
              - MINUTES
              - HOURS
            sendCloseMessage:
              type: boolean
            closeMessageType:
              type: string
              enum:
              - STATIC
              - DYNAMIC
            closeMessage:
              type: string
              nullable: true
            closeInstruction:
              type: string
              nullable: true
            autoReplyOnUninterrupt:
              type: boolean
          required:
          - splitMessages
          - splitCharacterLimit
          - enableIdle
          - sendCloseMessage
          - closeMessageType
        messenger:
          type: object
          properties:
            splitMessages:
              type: boolean
            splitCharacterLimit:
              type: integer
            closeAfter:
              type: number
              nullable: true
            timeUnit:
              type: string
              nullable: true
              enum:
              - MINUTES
              - HOURS
            conversationClose:
              type: string
              nullable: true
              enum:
              - NEVER
              - AUTOMATICALLY
              - DYNAMICALLY
            enableImageProcessing:
              type: boolean
            enableIdle:
              type: boolean
            idleSettings:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  nullable: true
                after:
                  type: number
                  nullable: true
                timeUnit:
                  type: string
                  nullable: true
                  enum:
                  - MINUTES
                  - HOURS
                resetsLimit:
                  type: number
                  nullable: true
              required:
              - after
              - timeUnit
              - resetsLimit
            conversationInterruptTimeout:
              type: integer
              minimum: 0
            conversationInterruptTimeUnit:
              type: string
              nullable: true
              enum:
              - MINUTES
              - HOURS
            autoReplyOnUninterrupt:
              type: boolean
            sendCloseMessage:
              type: boolean
            closeMessageType:
              type: string
              enum:
              - STATIC
              - DYNAMIC
            closeMessage:
              type: string
              nullable: true
            closeInstruction:
              type: string
              nullable: true
          required:
          - splitMessages
          - splitCharacterLimit
          - enableIdle
          - sendCloseMessage
          - closeMessageType
      required:
      - liveChat
      - whatsApp
      - instagram
      - messenger
    Flow:
      type: object
      properties:
        id:
          type: number
          example: 101
        name:
          type: string
          example: Order Retrieval
        description:
          type: string
          nullable: true
          example: Extracts order info from DB
        status:
          type: string
          enum:
          - ACTIVE
          - SUSPENDED
          - DELETED
          - DRAFT
          example: ACTIVE
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        runCount:
          type: number
          example: 450
      required:
      - id
      - name
      - description
      - status
      - createdAt
      - updatedAt
      - runCount
    DynamicTablesQueryCondition:
      type: object
      properties:
        path:
          type: string
          description: Field path in format [Field] or [Relation].[Field]
          example: '[Status]'
        operator:
          type: string
          example: equals
        value:
          nullable: true
        valueType:
          nullable: true
      required:
      - path
      - operator
    DynamicTablesQueryGroup:
      type: object
      properties:
        operator:
          type: string
          enum:
          - and
          - or
        conditions:
          type: array
          items:
            nullable: true
          description: Nested filter conditions or AND/OR groups
      required:
      - operator
      - conditions
    DynamicTablesQuery:
      anyOf:
      - $ref: '#/components/schemas/DynamicTablesQueryCondition'
      - $ref: '#/components/schemas/DynamicTablesQueryGroup'
      - nullable: true
    PublicFlowNode:
      type: object
      properties:
        nodeId:
          type: string
          pattern: node[_-][0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}
          example: node_550e8400-e29b-41d4-a716-446655440000
        alias:
          type: string
          nullable: true
          example: Start
        name:
          type: string
          example: Start
        position:
          type: object
          properties:
            positionX:
              type: number
            positionY:
              type: number
          required:
          - positionX
          - positionY
        type:
          type: string
          enum:
          - START
          - TRIGGER_INTENT
          - SAY_AI
          - RESPONSE_AI
          - TOOLS_AI
          - API
          - CONDITIONAL_ROUTING
          - DYNAMIC_TABLES
          example: START
        data:
          oneOf:
          - type: object
            properties:
              type:
                type: string
                enum:
                - TRIGGER_INTENT
              agenticRouting:
                type: string
                nullable: true
              intentIds:
                type: array
                nullable: true
                items:
                  type: number
              intents:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    description:
                      type: string
                      nullable: true
                    createdAt:
                      type: string
                      nullable: true
                    updatedAt:
                      type: string
                      nullable: true
                    status:
                      type: string
                      enum:
                      - ACTIVE
                      - DELETED
                    assistantId:
                      type: string
                    phrases:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          phrase:
                            type: string
                        required:
                        - id
                        - phrase
                    flowId:
                      type: number
                      nullable: true
                  required:
                  - id
                  - name
                  - createdAt
                  - updatedAt
                  - status
                  - assistantId
            required:
            - type
          - type: object
            properties:
              type:
                type: string
                enum:
                - SAY_AI
              message:
                type: string
                nullable: true
              temperature:
                type: number
                default: 0.7
              prompt:
                type: string
                nullable: true
              aiModelId:
                type: number
                nullable: true
              model:
                type: string
                nullable: true
              aiVendor:
                type: string
                nullable: true
                enum:
                - OPENAI
                - ANTHROPIC
                - GOOGLE
                - AZURE
                - DEEPSEEK
                - LLAMA
              sayWithAi:
                type: boolean
            required:
            - type
            - sayWithAi
          - type: object
            properties:
              type:
                type: string
                enum:
                - RESPONSE_AI
              assistantId:
                type: string
                pattern: '[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}|agent-[0-9a-zA-Z-]+'
                description: Owning assistant ID or UUID (e.g. agent-xxx or standard UUID). Validated
                  against the account on save.
                example: 550e8400-e29b-41d4-a716-446655440000
              aiModelId:
                type: number
                nullable: true
              model:
                type: string
              aiVendor:
                type: string
                enum:
                - OPENAI
                - ANTHROPIC
                - GOOGLE
                - AZURE
                - DEEPSEEK
                - LLAMA
              instructions:
                type: string
                nullable: true
              temperature:
                type: number
              captureVariables:
                type: array
                items:
                  nullable: true
              exitNodeWhen:
                type: string
                enum:
                - ALL_VARIABLES
                - FLOW_TRIGGERED
                - ANY_VARIABLES
              knowledgeBaseMode:
                type: string
                enum:
                - DEFAULT
                - CUSTOM
                - DISABLED
                default: DEFAULT
              knowledgeBaseIds:
                type: array
                nullable: true
                items:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
            required:
            - type
            - assistantId
            - model
            - aiVendor
            - instructions
            - temperature
            - captureVariables
            - exitNodeWhen
          - type: object
            properties:
              type:
                type: string
                enum:
                - TOOLS_AI
              conditions:
                type: array
                items:
                  type: object
                  properties:
                    handleId:
                      type: string
                    expression:
                      type: string
                  required:
                  - handleId
                  - expression
              temperature:
                type: number
              model:
                type: string
              aiVendor:
                type: string
                enum:
                - OPENAI
                - ANTHROPIC
                - GOOGLE
                - AZURE
                - DEEPSEEK
                - LLAMA
              instructions:
                type: string
                nullable: true
              prompt:
                type: string
                nullable: true
              customToolIds:
                type: array
                nullable: true
                items:
                  type: number
              maxIterations:
                type: number
                minimum: 1
                maximum: 30
                default: 10
              agentType:
                type: string
                enum:
                - BASIC
                - ADVANCED
                default: BASIC
              captureVariables:
                type: array
                nullable: true
                items:
                  nullable: true
              knowledgeBaseMode:
                type: string
                enum:
                - DEFAULT
                - CUSTOM
                - DISABLED
                default: DEFAULT
              knowledgeBaseIds:
                type: array
                nullable: true
                items:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
              selectedRecordTypes:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    recordTypeId:
                      type: number
                    read:
                      type: boolean
                    create:
                      type: boolean
                    update:
                      type: boolean
                    delete:
                      type: boolean
                    createActivity:
                      type: boolean
                  required:
                  - recordTypeId
              systemToolsConfig:
                type: object
                nullable: true
                properties:
                  webSearchEnabled:
                    type: boolean
                    default: false
                  urlScrapeEnabled:
                    type: boolean
                    default: false
                  linkedinSearchEnabled:
                    type: boolean
                    default: false
              connectedAccountConfigs:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    connectedAccountId:
                      type: number
                    useAllTools:
                      type: boolean
                      default: true
                    selectedToolSlugs:
                      type: array
                      nullable: true
                      items:
                        type: string
                  required:
                  - connectedAccountId
              playbookIds:
                type: array
                nullable: true
                items:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
              aiModelId:
                type: integer
                nullable: true
            required:
            - type
            - conditions
            - instructions
          - type: object
            properties:
              type:
                type: string
                enum:
                - API
              url:
                type: string
                example: https://api.example.com/hook
              method:
                type: string
                enum:
                - GET
                - POST
                - PUT
                - DELETE
                - PATCH
              headers:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  required:
                  - key
                  - value
              body:
                type: string
                nullable: true
              response:
                type: string
                nullable: true
              parameters:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  required:
                  - key
                  - value
              variables:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                    fullResponse:
                      type: boolean
                      default: false
                  required:
                  - key
                  - value
            required:
            - type
            - url
            - method
            - headers
          - type: object
            properties:
              type:
                type: string
                enum:
                - CONDITIONAL_ROUTING
              routingType:
                type: string
                enum:
                - CONDITIONAL_AI
                - DYNAMIC
              conditions:
                type: array
                items:
                  type: object
                  properties:
                    handleId:
                      type: string
                    expression:
                      type: string
                  required:
                  - handleId
                  - expression
              temperature:
                type: number
              model:
                type: string
              aiVendor:
                type: string
                enum:
                - OPENAI
                - ANTHROPIC
                - GOOGLE
                - AZURE
                - DEEPSEEK
                - LLAMA
              aiModelId:
                type: integer
                nullable: true
            required:
            - type
            - routingType
            - conditions
          - type: object
            properties:
              type:
                type: string
                enum:
                - DYNAMIC_TABLES
              tableId:
                type: number
                nullable: true
              recordTypeId:
                type: number
                nullable: true
              targetRecordTypeId:
                type: number
                nullable: true
                description: Destination record type id. Required when actionType is CHANGE_RECORD_TYPE.
                example: 12
              actionType:
                type: string
                nullable: true
                enum:
                - CREATE
                - UPDATE
                - DELETE
                - SEARCH
                - SEARCH_BY_ID
                - CHANGE_RECORD_TYPE
                description: 'Operation to run. Required-field rules per action: CREATE → rowData; UPDATE
                  → rowId + rowData; DELETE / SEARCH_BY_ID → rowId; CHANGE_RECORD_TYPE → rowId + targetRecordTypeId.'
                example: CREATE
              rowData:
                type: object
                nullable: true
                additionalProperties:
                  nullable: true
              inputModeByField:
                type: object
                nullable: true
                additionalProperties:
                  type: string
                  enum:
                  - INPUT
                  - VARIABLE
                  - EMPTY
              rowId:
                type: string
                nullable: true
              search:
                type: string
                nullable: true
              pageNum:
                anyOf:
                - type: number
                - type: string
                - nullable: true
              pageSize:
                anyOf:
                - type: number
                - type: string
                - nullable: true
              pageNumMode:
                type: string
                nullable: true
                enum:
                - INPUT
                - VARIABLE
                - EMPTY
              pageSizeMode:
                type: string
                nullable: true
                enum:
                - INPUT
                - VARIABLE
                - EMPTY
              sort:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    path:
                      type: string
                    type:
                      type: string
                      enum:
                      - asc
                      - desc
                  required:
                  - path
                  - type
              query:
                $ref: '#/components/schemas/DynamicTablesQuery'
            required:
            - type
          - nullable: true
        workflowId:
          type: string
        handles:
          type: array
          items:
            type: object
            properties:
              handleId:
                type: string
              sourceEdge:
                type: object
                properties:
                  from:
                    type: string
                  fromHandleId:
                    type: string
                  to:
                    type: string
                  toHandleId:
                    type: string
                required:
                - from
                - fromHandleId
[...]
