openapi: 3.2.0
info:
  title: Public Table fields API
  version: 1.0.0
  description: Public API for accessing agents, flows, and analytics.
  license:
    name: Proprietary
    url: https://www.getfrontline.ai/terms-and-conditions
servers:
- url: https://prod-api.getfrontline.ai
tags:
- name: Table fields
  description: Manage columns on a table
paths:
  /public/v1/tables/{name}/fields:
    get:
      summary: List table fields
      operationId: listTableFields
      description: Returns the columns defined on a table.
      security:
      - bearerAuth: []
      tags:
      - Table fields
      parameters:
      - schema:
          type: string
          minLength: 1
          example: tasks_board
        required: true
        name: name
        in: path
      responses:
        '200':
          description: Fields list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        key:
                          type: string
                        type:
                          type: string
                        editable:
                          type: boolean
                        created_at:
                          type:
                          - string
                          - 'null'
                        updated_at:
                          type:
                          - string
                          - 'null'
                        read_only:
                          type: boolean
                        required:
                          type: boolean
                        unique:
                          type: boolean
                        is_system:
                          type: boolean
                        is_predefined:
                          type: boolean
                        default_value: {}
                        format:
                          type: string
                        mode:
                          type: string
                          enum:
                          - singleSelect
                          - multiSelect
                          - single
                          - multi
                        timezone:
                          type: string
                        decimals:
                          type: number
                        currency:
                          type: string
                        min:
                          type:
                          - number
                          - 'null'
                        max:
                          type:
                          - number
                          - 'null'
                        time_format:
                          type: string
                        show_preview:
                          type: boolean
                        allowed_file_types:
                          type: array
                          items:
                            type: string
                        max_file_size:
                          type: number
                        related_table_id:
                          type: number
                        related_record_type_ids:
                          type:
                          - array
                          - 'null'
                          items:
                            type: number
                        display_field_id:
                          type: number
                        relation_mode:
                          type: string
                        include_activity:
                          type: boolean
                        metadata:
                          type: object
                          additionalProperties: {}
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                              color:
                                type: string
                              order:
                                type: number
                              created_at:
                                type:
                                - string
                                - 'null'
                              updated_at:
                                type:
                                - string
                                - 'null'
                            required:
                            - id
                            - name
                            - color
                            - order
                            - created_at
                            - updated_at
                        expression: {}
                        output_type:
                          type: string
                        apply_if: {}
                        number_config: {}
                        date_config: {}
                        string_config: {}
                      required:
                      - id
                      - name
                      - key
                      - type
                      - editable
                      - created_at
                      - updated_at
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create table field
      operationId: createTableField
      description: Creates a column on a table. Requires a USER API key with edit access to the table (FULL_ACCESS sharing); read-only access is not enough.
      security:
      - bearerAuth: []
      tags:
      - Table fields
      parameters:
      - schema:
          type: string
          minLength: 1
          example: tasks_board
        required: true
        name: name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                type:
                  anyOf:
                  - type: string
                    enum:
                    - string
                    - number
                    - boolean
                    - date
                    - tags
                    - relation
                    - autoIncrement
                    - dateOnly
                    - prismaRelation
                    - kanbanViewOrder
                    - file
                    - avatar
                    - permissions
                    - formula
                  - type: string
                    enum:
                    - select
                metadata:
                  type: object
                  additionalProperties: {}
                record_type_id:
                  type: integer
                  exclusiveMinimum: 0
                recordTypeId:
                  type: integer
                  exclusiveMinimum: 0
              required:
              - name
              - type
              additionalProperties: false
      responses:
        '201':
          description: Created field
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      key:
                        type: string
                      type:
                        type: string
                      editable:
                        type: boolean
                      created_at:
                        type:
                        - string
                        - 'null'
                      updated_at:
                        type:
                        - string
                        - 'null'
                      read_only:
                        type: boolean
                      required:
                        type: boolean
                      unique:
                        type: boolean
                      is_system:
                        type: boolean
                      is_predefined:
                        type: boolean
                      default_value: {}
                      format:
                        type: string
                      mode:
                        type: string
                        enum:
                        - singleSelect
                        - multiSelect
                        - single
                        - multi
                      timezone:
                        type: string
                      decimals:
                        type: number
                      currency:
                        type: string
                      min:
                        type:
                        - number
                        - 'null'
                      max:
                        type:
                        - number
                        - 'null'
                      time_format:
                        type: string
                      show_preview:
                        type: boolean
                      allowed_file_types:
                        type: array
                        items:
                          type: string
                      max_file_size:
                        type: number
                      related_table_id:
                        type: number
                      related_record_type_ids:
                        type:
                        - array
                        - 'null'
                        items:
                          type: number
                      display_field_id:
                        type: number
                      relation_mode:
                        type: string
                      include_activity:
                        type: boolean
                      metadata:
                        type: object
                        additionalProperties: {}
                      options:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            color:
                              type: string
                            order:
                              type: number
                            created_at:
                              type:
                              - string
                              - 'null'
                            updated_at:
                              type:
                              - string
                              - 'null'
                          required:
                          - id
                          - name
                          - color
                          - order
                          - created_at
                          - updated_at
                      expression: {}
                      output_type:
                        type: string
                      apply_if: {}
                      number_config: {}
                      date_config: {}
                      string_config: {}
                    required:
                    - id
                    - name
                    - key
                    - type
                    - editable
                    - created_at
                    - updated_at
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /public/v1/tables/{name}/fields/{fieldId}:
    patch:
      summary: Update table field
      operationId: updateTableField
      description: Updates a field's metadata, defaults, or ordering. Requires a USER API key with edit access to the table (FULL_ACCESS sharing); read-only access is not enough.
      security:
      - bearerAuth: []
      tags:
      - Table fields
      parameters:
      - schema:
          type: string
          minLength: 1
          example: tasks_board
        required: true
        name: name
        in: path
      - schema:
          type: integer
          example: 42
          exclusiveMinimum: 0
        required: true
        name: fieldId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                type:
                  anyOf:
                  - type: string
                    enum:
                    - string
                    - number
                    - boolean
                    - date
                    - tags
                    - relation
                    - autoIncrement
                    - dateOnly
                    - prismaRelation
                    - kanbanViewOrder
                    - file
                    - avatar
                    - permissions
                    - formula
                  - type: string
                    enum:
                    - select
                metadata:
                  type: object
                  additionalProperties: {}
                order:
                  type: integer
                required:
                  type: boolean
                unique:
                  type: boolean
                tags:
                  type: array
                  items:
                    type: object
                    additionalProperties: {}
                defaultValue: {}
              additionalProperties: false
      responses:
        '200':
          description: Updated field
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      key:
                        type: string
                      type:
                        type: string
                      editable:
                        type: boolean
                      created_at:
                        type:
                        - string
                        - 'null'
                      updated_at:
                        type:
                        - string
                        - 'null'
                      read_only:
                        type: boolean
                      required:
                        type: boolean
                      unique:
                        type: boolean
                      is_system:
                        type: boolean
                      is_predefined:
                        type: boolean
                      default_value: {}
                      format:
                        type: string
                      mode:
                        type: string
                        enum:
                        - singleSelect
                        - multiSelect
                        - single
                        - multi
                      timezone:
                        type: string
                      decimals:
                        type: number
                      currency:
                        type: string
                      min:
                        type:
                        - number
                        - 'null'
                      max:
                        type:
                        - number
                        - 'null'
                      time_format:
                        type: string
                      show_preview:
                        type: boolean
                      allowed_file_types:
                        type: array
                        items:
                          type: string
                      max_file_size:
                        type: number
                      related_table_id:
                        type: number
                      related_record_type_ids:
                        type:
                        - array
                        - 'null'
                        items:
                          type: number
                      display_field_id:
                        type: number
                      relation_mode:
                        type: string
                      include_activity:
                        type: boolean
                      metadata:
                        type: object
                        additionalProperties: {}
                      options:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            color:
                              type: string
                            order:
                              type: number
                            created_at:
                              type:
                              - string
                              - 'null'
                            updated_at:
                              type:
                              - string
                              - 'null'
                          required:
                          - id
                          - name
                          - color
                          - order
                          - created_at
                          - updated_at
                      expression: {}
                      output_type:
                        type: string
                      apply_if: {}
                      number_config: {}
                      date_config: {}
                      string_config: {}
                    required:
                    - id
                    - name
                    - key
                    - type
                    - editable
                    - created_at
                    - updated_at
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete table field
      operationId: deleteTableField
      description: Deletes a column from a table. Requires a USER API key with edit access to the table (FULL_ACCESS sharing); read-only access is not enough.
      security:
      - bearerAuth: []
      tags:
      - Table fields
      parameters:
      - schema:
          type: string
          minLength: 1
          example: tasks_board
        required: true
        name: name
        in: path
      - schema:
          type: integer
          example: 42
          exclusiveMinimum: 0
        required: true
        name: fieldId
        in: path
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                        enum:
                        - true
                      id:
                        anyOf:
                        - type: string
                        - type: number
                    required:
                    - deleted
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /public/v1/tables/{name}/fields/{fieldId}/formula-dependencies:
    get:
      summary: Get table field formula dependencies
      operationId: getTableFieldFormulaDependencies
      description: Returns the formula dependencies for a specific field. Requires a USER API key with edit access to the table.
      security:
      - bearerAuth: []
      tags:
      - Table fields
      parameters:
      - schema:
          type: string
          minLength: 1
          example: tasks_board
        required: true
        name: name
        in: path
      - schema:
          type: integer
          example: 42
          exclusiveMinimum: 0
        required: true
        name: fieldId
        in: path
      responses:
        '200':
          description: Formula dependencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                  data:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: number
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /public/v1/tables/{name}/fields/preview-formula:
    post:
      summary: Preview formula evaluation
      operationId: previewTableFormula
      description: Previews formula evaluation on existing data. Requires a USER API key with edit access to the table.
      security:
      - bearerAuth: []
      tags:
      - Table fields
      parameters:
      - schema:
          type: string
          minLength: 1
          example: tasks_board
        required: true
        name: name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                formulaMetadata:
                  type: object
                  properties:
                    applyIf:
                      type: object
                      description: Query preconditions filter
                    expression:
                      type: object
                      description: Formula expression AST. Maximum AST depth is 5 (root-to-leaf node count; root node is depth 1).
                previewFilter:
                  type: object
                  description: Filter for preview rows
                limit:
                  type: integer
                  exclusiveMinimum: 0
              required:
              - formulaMetadata
      responses:
        '200':
          description: Formula preview evaluation results
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            rowId:
                              type: string
                            rowName:
                              type: string
                            previewState:
                              type: object
                              properties:
                                value: {}
                                isValid:
                                  type: boolean
                                error:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - isValid
                              - error
                            row:
                              type: object
                              additionalProperties: {}
                          required:
                          - rowId
                          - rowName
                          - previewState
                          - row
                      inferredOutputType:
                        type: string
                    required:
                    - results
                    - inferredOutputType
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ErrorBody:
      type: object
      properties:
        code:
          type: string
          enum:
          - bad_request
          - unauthorized
          - forbidden
          - not_found
          - conflict
          - internal_error
          - cli_outdated
          example: unauthorized
        message:
          type: string
          example: Detailed error message
        details:
          type: object
          description: 'Optional structured details. Validation errors include `{ issues: [...] }`.'
          example:
            issues:
            - path:
              - name
              message: String must contain at least 1 character(s)
              code: too_small
      required:
      - code
      - message
    Error:
      type: object
      properties:
        ok:
          type: boolean
          enum:
          - false
          example: false
        error:
          $ref: '#/components/schemas/ErrorBody'
      required:
      - ok
      - error
  securitySchemes:
    accountApiKey:
      type: http
      scheme: bearer
      bearerFormat: Account API Key
      description: Account-level API key (GENERAL). Authenticates on behalf of the entire account. Use for read-only and analytics endpoints marked as account-level in this documentation.
    userApiKey:
      type: http
      scheme: bearer
      bearerFormat: User API Key
      description: User-level API key (USER). Authenticates on behalf of a specific user. Required for write operations and user-owned resources. Also accepted on all account-level endpoints.
x-tagGroups:
- name: Agent Builder
  tags:
  - Agent Builder
  - Flows
  - Flow Variables
  - Intents
  - Agents
  - Agent Playbooks
- name: Workflows
  tags:
  - Workflows
  - Workflow Variables
- name: Objects
  tags:
  - Objects
  - Object fields
  - Object options
  - Object record types
  - Object views
  - Object relations
  - Object rows
  - Object aggregations
  - Object activities
  - Object tasks
  - Object files
  - Object export
- name: Tables
  tags:
  - Tables
  - Table fields
  - Table options
  - Table rows
  - Table aggregations
  - Table activities
  - Table tasks
  - Table files
  - Table export
- name: Channels
  tags:
  - Channels
- name: Integrations
  tags:
  - Custom Tools
  - Incoming Webhooks
  - Account Integrations
  - Agent Channels
  - Integration Resources
- name: Knowledge
  tags:
  - Knowledge Bases
- name: Core
  tags:
  - Account
  - AI Models
  - Billing
  - Users
  - User Tasks
  - Guidance
