openapi: 3.0.0
info:
  title: Public Account Object record types API
  version: 1.0.0
  description: 'Public API for accessing agents, flows, and analytics.


    ## Authentication


    The Public API supports two API key types. Pass the key as a Bearer token:


    ```

    Authorization: Bearer <YOUR_API_KEY>

    ```


    ### Account API key (GENERAL)


    Account-level key that acts on behalf of the entire account. Required for account-level endpoints unless noted otherwise.


    ### User API key (USER)


    User-level key tied to a specific user. Required for write operations and user-owned resources. **Also accepted on all account-level endpoints.**


    Each operation documents which key type(s) it accepts in its **Security** section.'
  license:
    name: Proprietary
    url: https://www.getfrontline.ai/terms-and-conditions
servers:
- url: https://prod-api.getfrontline.ai
tags:
- name: Object record types
  description: Categorize records inside an object
paths:
  /public/v1/objects/{name}/record-types:
    get:
      summary: List record types
      operationId: listObjectRecordTypes
      description: Returns the record types defined on an object.
      security:
      - bearerAuth: []
      tags:
      - Object record types
      parameters:
      - schema:
          type: string
          minLength: 1
          example: deals
        required: true
        name: name
        in: path
      responses:
        '200':
          description: Record types
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 1
                        name:
                          type: string
                          example: example
                        display_name:
                          type: string
                          example: example
                        is_default:
                          type: boolean
                          example: false
                        single_noun:
                          type: string
                          example: example
                        emoji:
                          type: string
                          example: example
                        icon_color:
                          type: string
                          example: example
                        disable_side_effects:
                          type: boolean
                          example: false
                        field_ids:
                          type: array
                          items:
                            type: number
                            example: 1
                        views:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                                example: 1
                              name:
                                type: string
                                example: example
                              type:
                                type: string
                                enum:
                                - TABLE
                                - KANBAN
                                - RECORD
                                example: TABLE
                              is_default:
                                type: boolean
                                example: false
                              is_private:
                                type: boolean
                                example: false
                              record_type_id:
                                type: number
                                nullable: true
                                example: 1
                              created_at:
                                type: string
                                nullable: true
                                example: example
                              updated_at:
                                type: string
                                nullable: true
                                example: example
                              column_order:
                                type: array
                                items:
                                  type: string
                                  example: example
                              hidden_columns:
                                type: array
                                items:
                                  type: string
                                  example: example
                              sticky_columns:
                                type: array
                                items:
                                  type: string
                                  example: example
                              grouping_field_id:
                                type: number
                                example: 1
                              column_ordering:
                                nullable: true
                                type: object
                              title_field_id:
                                type: number
                                example: 1
                              display_field_ids:
                                type: array
                                items:
                                  type: number
                                  example: 1
                            required:
                            - id
                            - name
                            - type
                            - is_default
                            - is_private
                            - record_type_id
                            - created_at
                            - updated_at
                      required:
                      - id
                      - name
                      - display_name
                      - is_default
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create record type
      operationId: createObjectRecordType
      description: Creates a record type on an object. Requires a USER API key.
      security:
      - bearerAuth: []
      tags:
      - Object record types
      parameters:
      - schema:
          type: string
          minLength: 1
          example: deals
        required: true
        name: name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  example: example
                displayName:
                  type: string
                  minLength: 1
                  example: example
                singularNoun:
                  type: string
                  example: example
                emoji:
                  type: string
                  example: example
                icon_color:
                  type: string
                  example: example
                iconColor:
                  type: string
                  example: example
                fieldNames:
                  type: array
                  items:
                    type: string
                    example: example
                columnIds:
                  type: array
                  items:
                    type: number
                    example: 1
                disableSideEffects:
                  type: boolean
                  example: false
              required:
              - name
              - displayName
      responses:
        '201':
          description: Created record type
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 1
                      name:
                        type: string
                        example: example
                      display_name:
                        type: string
                        example: example
                      is_default:
                        type: boolean
                        example: false
                      single_noun:
                        type: string
                        example: example
                      emoji:
                        type: string
                        example: example
                      icon_color:
                        type: string
                        example: example
                      disable_side_effects:
                        type: boolean
                        example: false
                      field_ids:
                        type: array
                        items:
                          type: number
                          example: 1
                      views:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 1
                            name:
                              type: string
                              example: example
                            type:
                              type: string
                              enum:
                              - TABLE
                              - KANBAN
                              - RECORD
                              example: TABLE
                            is_default:
                              type: boolean
                              example: false
                            is_private:
                              type: boolean
                              example: false
                            record_type_id:
                              type: number
                              nullable: true
                              example: 1
                            created_at:
                              type: string
                              nullable: true
                              example: example
                            updated_at:
                              type: string
                              nullable: true
                              example: example
                            column_order:
                              type: array
                              items:
                                type: string
                                example: example
                            hidden_columns:
                              type: array
                              items:
                                type: string
                                example: example
                            sticky_columns:
                              type: array
                              items:
                                type: string
                                example: example
                            grouping_field_id:
                              type: number
                              example: 1
                            column_ordering:
                              nullable: true
                              type: object
                            title_field_id:
                              type: number
                              example: 1
                            display_field_ids:
                              type: array
                              items:
                                type: number
                                example: 1
                          required:
                          - id
                          - name
                          - type
                          - is_default
                          - is_private
                          - record_type_id
                          - created_at
                          - updated_at
                    required:
                    - id
                    - name
                    - display_name
                    - is_default
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /public/v1/objects/{name}/record-types/{recordTypeId}:
    patch:
      summary: Update record type
      operationId: updateObjectRecordType
      description: Updates a record type. The default record type's name and display name cannot be changed (promote another record type to default first). Requires a USER API key.
      security:
      - bearerAuth: []
      tags:
      - Object record types
      parameters:
      - schema:
          type: string
          minLength: 1
          example: deals
        required: true
        name: name
        in: path
      - schema:
          type: integer
          minimum: 0
          exclusiveMinimum: true
          example: 3
        required: true
        name: recordTypeId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  example: example
                displayName:
                  type: string
                  minLength: 1
                  example: example
                singularNoun:
                  type: string
                  example: example
                emoji:
                  type: string
                  example: example
                icon_color:
                  type: string
                  example: example
                iconColor:
                  type: string
                  example: example
                fieldNames:
                  type: array
                  items:
                    type: string
                    example: example
                columnIds:
                  type: array
                  items:
                    type: number
                    example: 1
                disableSideEffects:
                  type: boolean
                  example: false
      responses:
        '200':
          description: Updated record type
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 1
                      name:
                        type: string
                        example: example
                      display_name:
                        type: string
                        example: example
                      is_default:
                        type: boolean
                        example: false
                      single_noun:
                        type: string
                        example: example
                      emoji:
                        type: string
                        example: example
                      icon_color:
                        type: string
                        example: example
                      disable_side_effects:
                        type: boolean
                        example: false
                      field_ids:
                        type: array
                        items:
                          type: number
                          example: 1
                      views:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 1
                            name:
                              type: string
                              example: example
                            type:
                              type: string
                              enum:
                              - TABLE
                              - KANBAN
                              - RECORD
                              example: TABLE
                            is_default:
                              type: boolean
                              example: false
                            is_private:
                              type: boolean
                              example: false
                            record_type_id:
                              type: number
                              nullable: true
                              example: 1
                            created_at:
                              type: string
                              nullable: true
                              example: example
                            updated_at:
                              type: string
                              nullable: true
                              example: example
                            column_order:
                              type: array
                              items:
                                type: string
                                example: example
                            hidden_columns:
                              type: array
                              items:
                                type: string
                                example: example
                            sticky_columns:
                              type: array
                              items:
                                type: string
                                example: example
                            grouping_field_id:
                              type: number
                              example: 1
                            column_ordering:
                              nullable: true
                              type: object
                            title_field_id:
                              type: number
                              example: 1
                            display_field_ids:
                              type: array
                              items:
                                type: number
                                example: 1
                          required:
                          - id
                          - name
                          - type
                          - is_default
                          - is_private
                          - record_type_id
                          - created_at
                          - updated_at
                    required:
                    - id
                    - name
                    - display_name
                    - is_default
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete record type
      operationId: deleteObjectRecordType
      description: Deletes a record type. The default record type cannot be deleted. Requires a USER API key.
      security:
      - bearerAuth: []
      tags:
      - Object record types
      parameters:
      - schema:
          type: string
          minLength: 1
          example: deals
        required: true
        name: name
        in: path
      - schema:
          type: integer
          minimum: 0
          exclusiveMinimum: true
          example: 3
        required: true
        name: recordTypeId
        in: path
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                    - true
                    example: true
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                        enum:
                        - true
                        example: true
                      id:
                        anyOf:
                        - type: string
                          example: example
                        - type: number
                          example: 1
                    required:
                    - deleted
                required:
                - ok
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        ok:
          type: boolean
          enum:
          - false
          example: false
        error:
          $ref: '#/components/schemas/ErrorBody'
      required:
      - ok
      - error
    ErrorBody:
      type: object
      properties:
        code:
          type: string
          enum:
          - bad_request
          - unauthorized
          - forbidden
          - not_found
          - conflict
          - internal_error
          - cli_outdated
          example: unauthorized
        message:
          type: string
          example: Detailed error message
        details:
          type: object
          description: 'Optional structured details. Validation errors include `{ issues: [...] }`.'
          example:
            issues:
            - path:
              - name
              message: String must contain at least 1 character(s)
              code: too_small
      required:
      - code
      - message
  securitySchemes:
    accountApiKey:
      type: http
      scheme: bearer
      bearerFormat: Account API Key
      description: Account-level API key (GENERAL). Authenticates on behalf of the entire account. Use for read-only and analytics endpoints marked as account-level in this documentation.
    userApiKey:
      type: http
      scheme: bearer
      bearerFormat: User API Key
      description: User-level API key (USER). Authenticates on behalf of a specific user. Required for write operations and user-owned resources. Also accepted on all account-level endpoints.
x-tagGroups:
- name: Agent Builder
  tags:
  - Agent Builder
  - Flows
  - Flow Variables
  - Intents
  - Agents
- name: Workflows
  tags:
  - Workflows
  - Workflow Variables
- name: Objects
  tags:
  - Objects
  - Object fields
  - Object options
  - Object record types
  - Object views
  - Object relations
  - Object rows
  - Object aggregations
  - Object activities
  - Object tasks
  - Object files
  - Object export
- name: Tables
  tags:
  - Tables
  - Table fields
  - Table options
  - Table rows
  - Table aggregations
  - Table activities
  - Table tasks
  - Table files
  - Table export
- name: Integrations
  tags:
  - Tools
  - Incoming Webhooks
- name: Core
  tags:
  - Account
  - AI Models
  - Billing
