openapi: 3.2.0
info:
  title: Public Channels API
  version: 1.0.0
  description: 'Public API for accessing agents, flows, and analytics.


    ## Authentication


    The Public API supports two API key types. Pass the key as a Bearer token:


    ```

    Authorization: Bearer <YOUR_API_KEY>

    ```


    ### Account API key (GENERAL)


    Account-level key that acts on behalf of the entire account. Required for account-level endpoints unless noted otherwise.


    ### User API key (USER)


    User-level key tied to a specific user. Required for write operations and user-owned resources. **Also accepted on all account-level endpoints.**


    Each operation documents which key type(s) it accepts in its **Security** section.'
  license:
    name: Proprietary
    url: https://www.getfrontline.ai/terms-and-conditions
servers:
- url: https://prod-api.getfrontline.ai
tags:
- name: Channels
  description: Communication channels connected to this account (WhatsApp, Instagram, Messenger)
paths:
  /public/v1/channels/whatsapp/templates:
    get:
      summary: List approved WhatsApp templates
      operationId: listChannelWhatsappTemplates
      description: Read-only list of APPROVED WhatsApp message templates from Meta for this account's WhatsApp Business channel. Use template.name in SEND_WHATSAPP_MESSAGE nodes and map parameters into templateVariables.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Channels
      responses:
        '200':
          description: Approved WhatsApp templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicWhatsAppTemplatesOutput'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: WhatsApp channel not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ErrorBody:
      type: object
      properties:
        code:
          type: string
          enum:
          - bad_request
          - unauthorized
          - forbidden
          - not_found
          - conflict
          - internal_error
          - cli_outdated
          example: unauthorized
        message:
          type: string
          example: Detailed error message
        details:
          type: object
          description: 'Optional structured details. Validation errors include `{ issues: [...] }`.'
          example:
            issues:
            - path:
              - name
              message: String must contain at least 1 character(s)
              code: too_small
      required:
      - code
      - message
    PublicWhatsAppTemplateParameters:
      type: object
      properties:
        HEADER:
          type: array
          items:
            type: string
        BODY:
          type: array
          items:
            type: string
        FOOTER:
          type: array
          items:
            type: string
        BUTTONS:
          type: array
          items:
            type: string
        BUTTONS_URL:
          type: array
          items:
            type: string
    PublicWhatsAppTemplatesOutput:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicWhatsAppTemplate'
      required:
      - results
    PublicWhatsAppTemplate:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          description: Template name to use in SEND_WHATSAPP_MESSAGE nodes.
          example: hello_world
        language:
          type: string
        status:
          type: string
        category:
          type: string
        components:
          type: array
          items:
            type: object
            additionalProperties: {}
        parameters:
          $ref: '#/components/schemas/PublicWhatsAppTemplateParameters'
      required:
      - name
    Error:
      type: object
      properties:
        ok:
          type: boolean
          enum:
          - false
          example: false
        error:
          $ref: '#/components/schemas/ErrorBody'
      required:
      - ok
      - error
  securitySchemes:
    accountApiKey:
      type: http
      scheme: bearer
      bearerFormat: Account API Key
      description: Account-level API key (GENERAL). Authenticates on behalf of the entire account. Use for read-only and analytics endpoints marked as account-level in this documentation.
    userApiKey:
      type: http
      scheme: bearer
      bearerFormat: User API Key
      description: User-level API key (USER). Authenticates on behalf of a specific user. Required for write operations and user-owned resources. Also accepted on all account-level endpoints.
x-tagGroups:
- name: Agent Builder
  tags:
  - Agent Builder
  - Flows
  - Flow Variables
  - Intents
  - Agents
  - Agent Playbooks
- name: Workflows
  tags:
  - Workflows
  - Workflow Variables
- name: Objects
  tags:
  - Objects
  - Object fields
  - Object options
  - Object record types
  - Object views
  - Object relations
  - Object rows
  - Object aggregations
  - Object activities
  - Object tasks
  - Object files
  - Object export
- name: Tables
  tags:
  - Tables
  - Table fields
  - Table options
  - Table rows
  - Table aggregations
  - Table activities
  - Table tasks
  - Table files
  - Table export
- name: Channels
  tags:
  - Channels
- name: Integrations
  tags:
  - Custom Tools
  - Incoming Webhooks
  - Account Integrations
  - Agent Channels
  - Integration Resources
- name: Knowledge
  tags:
  - Knowledge Bases
- name: Core
  tags:
  - Account
  - AI Models
  - Billing
  - Users
  - User Tasks
  - Guidance
