openapi: 3.2.0
info:
  title: Public Agent Builder API
  version: 1.0.0
  description: 'Public API for accessing agents, flows, and analytics.


    ## Authentication


    The Public API supports two API key types. Pass the key as a Bearer token:


    ```

    Authorization: Bearer <YOUR_API_KEY>

    ```


    ### Account API key (GENERAL)


    Account-level key that acts on behalf of the entire account. Required for account-level endpoints unless noted otherwise.


    ### User API key (USER)


    User-level key tied to a specific user. Required for write operations and user-owned resources. **Also accepted on all account-level endpoints.**


    Each operation documents which key type(s) it accepts in its **Security** section.'
  license:
    name: Proprietary
    url: https://www.getfrontline.ai/terms-and-conditions
servers:
- url: https://prod-api.getfrontline.ai
tags:
- name: Agent Builder
  description: View and manage your AI agents across your account
paths:
  /public/v1/agents:
    get:
      summary: List all agents
      operationId: listAgents
      description: Returns a list of agents associated with the account.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          enum:
          - NONE
          - ACTIVE
          - INACTIVE
          - TRAINING
          - TRAIN_ERROR
          example: ACTIVE
        required: false
        name: status
        in: query
      responses:
        '200':
          description: A list of agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                required:
                - results
                description: Standard list response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create an agent
      operationId: createAgent
      description: Creates an assistant with the internal defaults for theme, channels, settings, flow, and billing checks. Requires a USER API key.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicAgentCreateInput'
      responses:
        '201':
          description: Created agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /public/v1/agents/{agentId}:
    get:
      summary: Get agent details
      operationId: getAgent
      description: Returns a safe agent detail without secret key or HMAC fields.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetail'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an agent
      operationId: updateAgent
      description: Updates basic agent metadata. Requires a USER API key.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicAgentUpdateInput'
      responses:
        '200':
          description: Updated agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetail'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete an agent
      operationId: deleteAgent
      description: Soft deletes an agent using the assistant manager. Requires a USER API key.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      responses:
        '204':
          description: Agent deleted
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /public/v1/agents/{agentId}/agent-setting:
    get:
      summary: Get agent setting
      operationId: getAgentSetting
      description: Returns safe agent model, instruction, tool, playbook, and connected-account settings.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      responses:
        '200':
          description: Agent setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSetting'
    put:
      summary: Update agent setting
      operationId: updateAgentSetting
      description: Updates instructions, model, tools, playbooks, connected accounts, and system tool settings. Requires a USER API key.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicAgentSettingUpdateInput'
      responses:
        '200':
          description: Updated agent setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSetting'
  /public/v1/agents/{agentId}/theme:
    get:
      summary: Get agent theme
      operationId: getAgentTheme
      description: Returns textual and color theme settings. Image uploads are not exposed in the public builder.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      responses:
        '200':
          description: Agent theme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTheme'
    put:
      summary: Update agent theme
      operationId: updateAgentTheme
      description: Updates textual and color theme settings. Requires a USER API key.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicAgentThemeUpdateInput'
      responses:
        '200':
          description: Updated agent theme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAgentThemeUpdateOutput'
  /public/v1/agents/{agentId}/deployment-status:
    put:
      summary: Update agent deployment status
      operationId: updateAgentDeploymentStatus
      description: Publishes or pauses an agent by changing isOffline. Requires a USER API key and runs billing checks.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicAgentDeploymentStatusInput'
      responses:
        '200':
          description: Updated agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetail'
  /public/v1/agents/{agentId}/settings:
    get:
      summary: Get all agent channel settings
      operationId: getAgentChannelSettings
      description: Returns livechat, WhatsApp, Instagram, and Messenger channel settings.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      responses:
        '200':
          description: Channel settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentChannelSettings'
  /public/v1/agents/{agentId}/settings/livechat:
    get:
      summary: Get livechat settings
      operationId: getAgentlivechatSettings
      description: Returns livechat channel settings for an agent.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      responses:
        '200':
          description: Channel settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type:
                    - number
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type: string
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  collectFeedback:
                    type: boolean
                  feedbackVisibility:
                    type: string
                    enum:
                    - ON_HOVER
                    - ALWAYS_VISIBLE
                  feedbackText:
                    type:
                    - string
                    - 'null'
                  collectFeedbackReason:
                    type: boolean
                  includeOtherReason:
                    type: boolean
                  openFeedbackText:
                    type:
                    - string
                    - 'null'
                  feedbackReasons:
                    type:
                    - array
                    - 'null'
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        reason:
                          type: string
                        order:
                          type: number
                      required:
                      - id
                      - reason
                      - order
                  enableDocumentProcessing:
                    type: boolean
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                required:
                - splitMessages
                - splitCharacterLimit
                - closeAfter
                - timeUnit
                - conversationClose
                - collectFeedback
                - feedbackVisibility
                - feedbackText
                - collectFeedbackReason
                - includeOtherReason
                - openFeedbackText
                - enableIdle
    put:
      summary: Update livechat settings
      operationId: updateAgentlivechatSettings
      description: Updates livechat channel settings. Requires a USER API key.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                splitMessages:
                  type: boolean
                splitCharacterLimit:
                  type: integer
                conversationClose:
                  type: string
                  enum:
                  - NEVER
                  - AUTOMATICALLY
                  - DYNAMICALLY
                closeAfter:
                  type:
                  - integer
                  - 'null'
                timeUnit:
                  type:
                  - string
                  - 'null'
                  enum:
                  - MINUTES
                  - HOURS
                collectFeedback:
                  type: boolean
                feedbackVisibility:
                  type: string
                  enum:
                  - ON_HOVER
                  - ALWAYS_VISIBLE
                feedbackText:
                  type:
                  - string
                  - 'null'
                  minLength: 1
                  maxLength: 45
                collectFeedbackReason:
                  type: boolean
                includeOtherReason:
                  type: boolean
                openFeedbackText:
                  type:
                  - string
                  - 'null'
                  maxLength: 45
                feedbackReasons:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      reason:
                        type: string
                        minLength: 1
                        maxLength: 45
                      order:
                        type: integer
                        minimum: 0
                    required:
                    - reason
                  maxItems: 5
                enableDocumentProcessing:
                  type: boolean
                enableImageProcessing:
                  type: boolean
                enableIdle:
                  type: boolean
                idleSettings:
                  type:
                  - object
                  - 'null'
                  properties:
                    after:
                      type:
                      - integer
                      - 'null'
                    timeUnit:
                      type:
                      - string
                      - 'null'
                      enum:
                      - MINUTES
                      - HOURS
                    resetsLimit:
                      type:
                      - integer
                      - 'null'
                  required:
                  - after
                  - timeUnit
                  - resetsLimit
              required:
              - splitMessages
              - splitCharacterLimit
              - conversationClose
              - closeAfter
              - timeUnit
              - collectFeedback
              - feedbackText
              - collectFeedbackReason
              - includeOtherReason
              - feedbackReasons
      responses:
        '200':
          description: Updated channel settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  conversationClose:
                    type: string
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  closeAfter:
                    type:
                    - number
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  collectFeedback:
                    type: boolean
                  feedbackVisibility:
                    type: string
                    enum:
                    - ON_HOVER
                    - ALWAYS_VISIBLE
                  feedbackText:
                    type:
                    - string
                    - 'null'
                  collectFeedbackReason:
                    type: boolean
                  includeOtherReason:
                    type: boolean
                  openFeedbackText:
                    type:
                    - string
                    - 'null'
                  feedbackReasons:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        reason:
                          type: string
                        order:
                          type: number
                      required:
                      - id
                      - reason
                      - order
                  enableDocumentProcessing:
                    type: boolean
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                required:
                - splitMessages
                - splitCharacterLimit
                - conversationClose
                - closeAfter
                - timeUnit
                - collectFeedback
                - feedbackVisibility
                - feedbackText
                - collectFeedbackReason
                - includeOtherReason
                - openFeedbackText
                - enableIdle
  /public/v1/agents/{agentId}/settings/whatsapp:
    get:
      summary: Get whatsapp settings
      operationId: getAgentwhatsappSettings
      description: Returns whatsapp channel settings for an agent.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      responses:
        '200':
          description: Channel settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type:
                    - number
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type:
                    - string
                    - 'null'
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  enableDocumentProcessing:
                    type: boolean
                  enableImageProcessing:
                    type: boolean
                  debounce:
                    type: boolean
                  debounceTime:
                    type: integer
                    minimum: 0
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type:
                    - string
                    - 'null'
                  closeInstruction:
                    type:
                    - string
                    - 'null'
                  autoReplyOnUninterrupt:
                    type: boolean
                required:
                - splitMessages
                - splitCharacterLimit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
    put:
      summary: Update whatsapp settings
      operationId: updateAgentwhatsappSettings
      description: Updates whatsapp channel settings. Requires a USER API key.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                splitMessages:
                  type: boolean
                splitCharacterLimit:
                  type: integer
                conversationClose:
                  type: string
                  enum:
                  - NEVER
                  - AUTOMATICALLY
                  - DYNAMICALLY
                closeAfter:
                  type:
                  - integer
                  - 'null'
                timeUnit:
                  type:
                  - string
                  - 'null'
                  enum:
                  - MINUTES
                  - HOURS
                enableDocumentProcessing:
                  type: boolean
                enableImageProcessing:
                  type: boolean
                debounce:
                  type: boolean
                debounceTime:
                  type: integer
                  minimum: 0
                enableIdle:
                  type: boolean
                idleSettings:
                  type:
                  - object
                  - 'null'
                  properties:
                    after:
                      type:
                      - integer
                      - 'null'
                    timeUnit:
                      type:
                      - string
                      - 'null'
                      enum:
                      - MINUTES
                      - HOURS
                    resetsLimit:
                      type:
                      - integer
                      - 'null'
                  required:
                  - after
                  - timeUnit
                  - resetsLimit
                conversationInterruptTimeout:
                  type: integer
                  minimum: 0
                conversationInterruptTimeUnit:
                  type: string
                  enum:
                  - MINUTES
                  - HOURS
                sendCloseMessage:
                  type: boolean
                closeMessageType:
                  type: string
                  enum:
                  - STATIC
                  - DYNAMIC
                closeMessage:
                  type:
                  - string
                  - 'null'
                closeInstruction:
                  type:
                  - string
                  - 'null'
                autoReplyOnUninterrupt:
                  type: boolean
              required:
              - splitMessages
              - splitCharacterLimit
              - conversationClose
              - closeAfter
              - timeUnit
      responses:
        '200':
          description: Updated channel settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  conversationClose:
                    type: string
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  closeAfter:
                    type:
                    - integer
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  enableDocumentProcessing:
                    type: boolean
                  enableImageProcessing:
                    type: boolean
                  debounce:
                    type: boolean
                  debounceTime:
                    type: integer
                    minimum: 0
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type:
                    - string
                    - 'null'
                  closeInstruction:
                    type:
                    - string
                    - 'null'
                  autoReplyOnUninterrupt:
                    type: boolean
                required:
                - splitMessages
                - splitCharacterLimit
                - conversationClose
                - closeAfter
                - timeUnit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
  /public/v1/agents/{agentId}/settings/instagram:
    get:
      summary: Get instagram settings
      operationId: getAgentinstagramSettings
      description: Returns instagram channel settings for an agent.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      responses:
        '200':
          description: Channel settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type:
                    - number
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type:
                    - string
                    - 'null'
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type:
                    - string
                    - 'null'
                  closeInstruction:
                    type:
                    - string
                    - 'null'
                  autoReplyOnUninterrupt:
                    type: boolean
                required:
                - splitMessages
                - splitCharacterLimit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
    put:
      summary: Update instagram settings
      operationId: updateAgentinstagramSettings
      description: Updates instagram channel settings. Requires a USER API key.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                splitMessages:
                  type: boolean
                splitCharacterLimit:
                  type: integer
                conversationClose:
                  type: string
                  enum:
                  - NEVER
                  - AUTOMATICALLY
                  - DYNAMICALLY
                closeAfter:
                  type:
                  - integer
                  - 'null'
                timeUnit:
                  type:
                  - string
                  - 'null'
                  enum:
                  - MINUTES
                  - HOURS
                enableImageProcessing:
                  type: boolean
                enableIdle:
                  type: boolean
                idleSettings:
                  type:
                  - object
                  - 'null'
                  properties:
                    after:
                      type:
                      - integer
                      - 'null'
                    timeUnit:
                      type:
                      - string
                      - 'null'
                      enum:
                      - MINUTES
                      - HOURS
                    resetsLimit:
                      type:
                      - integer
                      - 'null'
                  required:
                  - after
                  - timeUnit
                  - resetsLimit
                conversationInterruptTimeout:
                  type: integer
                  minimum: 0
                conversationInterruptTimeUnit:
                  type: string
                  enum:
                  - MINUTES
                  - HOURS
                sendCloseMessage:
                  type: boolean
                closeMessageType:
                  type: string
                  enum:
                  - STATIC
                  - DYNAMIC
                closeMessage:
                  type:
                  - string
                  - 'null'
                closeInstruction:
                  type:
                  - string
                  - 'null'
                autoReplyOnUninterrupt:
                  type: boolean
              required:
              - splitMessages
              - splitCharacterLimit
              - conversationClose
              - closeAfter
              - timeUnit
      responses:
        '200':
          description: Updated channel settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  conversationClose:
                    type: string
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  closeAfter:
                    type:
                    - integer
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type:
                    - string
                    - 'null'
                  closeInstruction:
                    type:
                    - string
                    - 'null'
                  autoReplyOnUninterrupt:
                    type: boolean
                required:
                - splitMessages
                - splitCharacterLimit
                - conversationClose
                - closeAfter
                - timeUnit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
  /public/v1/agents/{agentId}/settings/messenger:
    get:
      summary: Get messenger settings
      operationId: getAgentmessengerSettings
      description: Returns messenger channel settings for an agent.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      responses:
        '200':
          description: Channel settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type:
                    - number
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type:
                    - string
                    - 'null'
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  autoReplyOnUninterrupt:
                    type: boolean
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type:
                    - string
                    - 'null'
                  closeInstruction:
                    type:
                    - string
                    - 'null'
                required:
                - splitMessages
                - splitCharacterLimit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
    put:
      summary: Update messenger settings
      operationId: updateAgentmessengerSettings
      description: Updates messenger channel settings. Requires a USER API key.
      security:
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                splitMessages:
                  type: boolean
                splitCharacterLimit:
                  type: integer
                conversationClose:
                  type: string
                  enum:
                  - NEVER
                  - AUTOMATICALLY
                  - DYNAMICALLY
                closeAfter:
                  type:
                  - integer
                  - 'null'
                timeUnit:
                  type:
                  - string
                  - 'null'
                  enum:
                  - MINUTES
                  - HOURS
                enableImageProcessing:
                  type: boolean
                enableIdle:
                  type: boolean
                idleSettings:
                  type:
                  - object
                  - 'null'
                  properties:
                    after:
                      type:
                      - integer
                      - 'null'
                    timeUnit:
                      type:
                      - string
                      - 'null'
                      enum:
                      - MINUTES
                      - HOURS
                    resetsLimit:
                      type:
                      - integer
                      - 'null'
                  required:
                  - after
                  - timeUnit
                  - resetsLimit
                conversationInterruptTimeout:
                  type: integer
                  minimum: 0
                conversationInterruptTimeUnit:
                  type: string
                  enum:
                  - MINUTES
                  - HOURS
                sendCloseMessage:
                  type: boolean
                closeMessageType:
                  type: string
                  enum:
                  - STATIC
                  - DYNAMIC
                closeMessage:
                  type:
                  - string
                  - 'null'
                closeInstruction:
                  type:
                  - string
                  - 'null'
                autoReplyOnUninterrupt:
                  type: boolean
              required:
              - splitMessages
              - splitCharacterLimit
              - conversationClose
              - closeAfter
              - timeUnit
      responses:
        '200':
          description: Updated channel settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  conversationClose:
                    type: string
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  closeAfter:
                    type:
                    - integer
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type:
                    - string
                    - 'null'
                  closeInstruction:
                    type:
                    - string
                    - 'null'
                  autoReplyOnUninterrupt:
                    type: boolean
                required:
                - splitMessages
                - splitCharacterLimit
                - conversationClose
                - closeAfter
                - timeUnit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
  /public/v1/agents/{agentId}/analytics:
    get:
      summary: Get agent analytics
      operationId: getAgentAnalytics
      description: Returns credit usage, conversation counts, and conversations breakdown by channel for a specific agent.
      security:
      - accountApiKey: []
      - userApiKey: []
      tags:
      - Agent Builder
      parameters:
      - schema:
          type: string
          example: uuid-xxxx-xxxx
        required: true
        name: agentId
        in: path
      - schema:
          type:
          - string
          - 'null'
          example: '2024-01-01'
        required: false
        name: startDate
        in: query
      - schema:
          type:
          - string
          - 'null'
          example: '2024-01-01'
        required: false
        name: endDate
        in: query
      responses:
        '200':
          description: Agent analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAnalytics'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    AgentTheme:
      type:
      - object
      - 'null'
      properties:
        id:
          type: number
        assistantId:
          type: string
        avatar:
          type:
          - string
          - 'null'
        bubbleImage:
          type:
          - string
          - 'null'
        title:
          type: string
        initialMessage:
          type: string
        placeholder:
          type: string
        bubbleColor:
          type: string
        userMessageColor:
          type: string
        agentMessageColor:
          type:
          - string
          - 'null'
        bubbleAlignment:
          type: string
          enum:
          - RIGHT
          - LEFT
        progressIndicator:
          type: string
          enum:
          - STATIC
          - DYNAMIC
        verticalPositionInPixels:
          type: number
        removePowerBy:
          type: boolean
        updatedAt:
          type: string
      required:
      - id
      - avatar
      - bubbleImage
      - title
      - initialMessage
      - placeholder
      - bubbleColor
      - userMessageColor
      - agentMessageColor
      - bubbleAlignment
      - progressIndicator
      - verticalPositionInPixels
    PublicAgentSettingUpdateInput:
      type: object
      properties:
        aiModelId:
          type:
          - number
          - 'null'
        temperature:
          type: number
          minimum: 0
          maximum: 1
        instructions:
          type:
          - string
          - 'null'
        maxIterations:
          type: number
          minimum: 3
          maximum: 30
          default: 10
        agentType:
          type: string
          enum:
          - BASIC
          - ADVANCED
          default: BASIC
        customToolIds:
          type:
          - array
          - 'null'
          items:
            type: number
        connectedAccountConfigs:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              connectedAccountId:
                type: number
              useAllTools:
                type: boolean
                default: true
              selectedToolSlugs:
                type:
                - array
                - 'null'
                items:
                  type: string
            required:
            - connectedAccountId
        systemToolsConfig:
          type:
          - object
          - 'null'
          properties:
            webSearchEnabled:
              type: boolean
              default: false
            urlScrapeEnabled:
              type: boolean
              default: false
            linkedinSearchEnabled:
              type: boolean
              default: false
        selectedRecordTypes:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              recordTypeId:
                type: number
              read:
                type: boolean
              create:
                type: boolean
              update:
                type: boolean
              delete:
                type: boolean
              createActivity:
                type: boolean
            required:
            - recordTypeId
      required:
      - aiModelId
      - temperature
      - instructions
    ErrorBody:
      type: object
      properties:
        code:
          type: string
          enum:
          - bad_request
          - unauthorized
          - forbidden
          - not_found
          - conflict
          - internal_error
          - cli_outdated
          example: unauthorized
        message:
          type: string
          example: Detailed error message
        details:
          type: object
          description: 'Optional structured details. Validation errors include `{ issues: [...] }`.'
          example:
            issues:
            - path:
              - name
              message: String must contain at least 1 character(s)
              code: too_small
      required:
      - code
      - message
    PublicAgentThemeUpdateOutput:
      type: object
      properties:
        id:
          type: number
        assistantId:
          type: string
        avatar:
          type:
          - string
          - 'null'
        bubbleImage:
          type:
          - string
          - 'null'
        title:
          type: string
        initialMessage:
          type: string
        placeholder:
          type: string
        bubbleColor:
          type: string
        userMessageColor:
          type: string
        agentMessageColor:
          type:
          - string
          - 'null'
        bubbleAlignment:
          type: string
          enum:
          - RIGHT
          - LEFT
        progressIndicator:
          type: string
          enum:
          - STATIC
          - DYNAMIC
        verticalPositionInPixels:
          type: number
        updatedAt:
          type: string
      required:
      - id
      - assistantId
      - avatar
      - bubbleImage
      - title
      - initialMessage
      - placeholder
      - bubbleColor
      - userMessageColor
      - agentMessageColor
      - bubbleAlignment
      - progressIndicator
      - verticalPositionInPixels
      - updatedAt
    PublicAgentCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Support Agent
      required:
      - name
    AgentDetail:
      allOf:
      - $ref: '#/components/schemas/Agent'
      - type: object
        properties:
          isOffline:
            type: boolean
            example: false
          ownerId:
            type: number
          accountId:
            type: number
          theme:
            $ref: '#/components/schemas/AgentTheme'
          agentSetting:
            $ref: '#/components/schemas/AgentSetting'
          channel:
            type:
            - object
            - 'null'
            properties:
              id:
                type: number
              channelLiveChat:
                type:
                - object
                - 'null'
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type:
                    - number
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type: string
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  collectFeedback:
                    type: boolean
                  feedbackVisibility:
                    type: string
                    enum:
                    - ON_HOVER
                    - ALWAYS_VISIBLE
                  feedbackText:
                    type:
                    - string
                    - 'null'
                  collectFeedbackReason:
                    type: boolean
                  includeOtherReason:
                    type: boolean
                  openFeedbackText:
                    type:
                    - string
                    - 'null'
                  feedbackReasons:
                    type:
                    - array
                    - 'null'
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        reason:
                          type: string
                        order:
                          type: number
                      required:
                      - id
                      - reason
                      - order
                  enableDocumentProcessing:
                    type: boolean
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  id:
                    type: number
                required:
                - splitMessages
                - splitCharacterLimit
                - closeAfter
                - timeUnit
                - conversationClose
                - collectFeedback
                - feedbackVisibility
                - feedbackText
                - collectFeedbackReason
                - includeOtherReason
                - openFeedbackText
                - enableIdle
                - id
              channelWhatsapp:
                type:
                - object
                - 'null'
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type:
                    - number
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type:
                    - string
                    - 'null'
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  enableDocumentProcessing:
                    type: boolean
                  enableImageProcessing:
                    type: boolean
                  debounce:
                    type: boolean
                  debounceTime:
                    type: integer
                    minimum: 0
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type:
                    - string
                    - 'null'
                  closeInstruction:
                    type:
                    - string
                    - 'null'
                  autoReplyOnUninterrupt:
                    type: boolean
                  id:
                    type: number
                required:
                - splitMessages
                - splitCharacterLimit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
                - id
              channelInstagram:
                type:
                - object
                - 'null'
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type:
                    - number
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type:
                    - string
                    - 'null'
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type:
                    - string
                    - 'null'
                  closeInstruction:
                    type:
                    - string
                    - 'null'
                  autoReplyOnUninterrupt:
                    type: boolean
                  id:
                    type: number
                required:
                - splitMessages
                - splitCharacterLimit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
                - id
              channelMessenger:
                type:
                - object
                - 'null'
                properties:
                  splitMessages:
                    type: boolean
                  splitCharacterLimit:
                    type: integer
                  closeAfter:
                    type:
                    - number
                    - 'null'
                  timeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  conversationClose:
                    type:
                    - string
                    - 'null'
                    enum:
                    - NEVER
                    - AUTOMATICALLY
                    - DYNAMICALLY
                  enableImageProcessing:
                    type: boolean
                  enableIdle:
                    type: boolean
                  idleSettings:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                      after:
                        type:
                        - number
                        - 'null'
                      timeUnit:
                        type:
                        - string
                        - 'null'
                        enum:
                        - MINUTES
                        - HOURS
                      resetsLimit:
                        type:
                        - number
                        - 'null'
                    required:
                    - after
                    - timeUnit
                    - resetsLimit
                  conversationInterruptTimeout:
                    type: integer
                    minimum: 0
                  conversationInterruptTimeUnit:
                    type:
                    - string
                    - 'null'
                    enum:
                    - MINUTES
                    - HOURS
                  autoReplyOnUninterrupt:
                    type: boolean
                  sendCloseMessage:
                    type: boolean
                  closeMessageType:
                    type: string
                    enum:
                    - STATIC
                    - DYNAMIC
                  closeMessage:
                    type:
                    - string
                    - 'null'
                  closeInstruction:
                    type:
                    - string
                    - 'null'
                  id:
                    type: number
                required:
                - splitMessages
                - splitCharacterLimit
                - enableIdle
                - sendCloseMessage
                - closeMessageType
                - id
            required:
            - id
        required:
        - isOffline
        - accountId
    AgentSetting:
      type:
      - object
      - 'null'
      properties:
        id:
          type: number
        aiModelId:
          type:
          - number
          - 'null'
        aiModel:
          allOf:
          - $ref: '#/components/schemas/AiModel'
          - {}
        model:
          type:
          - string
          - 'null'
        aiType:
          type: string
          enum:
          - ASSISTANT
          - AGENT
        temperature:
          type: number
        instructions:
          type:
          - string
          - 'null'
        agentRole:
          type: string
          enum:
          - NONE
          - CUSTOM
          - CUSTOMER_SUPPORT
          - SALES_REPRESENTATIVE
          - COLLECTIONS
          - RECRUITING_AGENT
          - HR_MANAGER
          - PRODUCT_COPILOT
          - AI_ASSISTANT
          - ANALYST
          - POST_SALES
        toneOfVoice:
          type: string
          enum:
          - NONE
          - CUSTOM
          - FRIENDLY
          - NEUTRAL
          - MATTER_OF_FACT
          - PROFESSIONAL
          - HUMOROUS
          - WITTY
          - GEN_Z
        answerLength:
          type: string
          enum:
          - NONE
          - CUSTOM
          - DYNAMIC
          - CONCISE
          - STANDARD
          - THOROUGH
        maxIterations:
          type: number
        agentType:
          type: string
          enum:
          - BASIC
          - ADVANCED
        customTools:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              id:
                type: number
              name:
                type: string
              description:
                type:
                - string
                - 'null'
              status:
                type:
                - string
                - 'null'
              type:
                type:
                - string
                - 'null'
            required:
            - id
            - name
        systemToolsConfig: {}
        selectedRecordTypes:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              recordTypeId:
                type: number
              read:
                type: boolean
              create:
                type: boolean
              update:
                type: boolean
              delete:
                type: boolean
              createActivity:
                type: boolean
            required:
            - recordTypeId
        agentConnectedAccounts:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              connectedAccountId:
                type: number
              useAllTools:
                type: boolean
              selectedToolSlugs:
                type:
                - array
                - 'null'
                items:
                  type: string
              connectedAccount:
                type: object
                properties:
                  id:
                    type: number
                  toolkit:
                    type: string
                  alias:
                    type:
                    - string
                    - 'null'
                  connectedEmail:
                    type:
                    - string
                    - 'null'
                  isConnected:
                    type: boolean
                required:
                - id
                - toolkit
                - alias
                - connectedEmail
                - isConnected
            required:
            - connectedAccountId
            - useAllTools
        agentPlaybooks:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              playbookId:
                type: number
              assignedAt:
                type: string
              playbook:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  description:
                    type:
                    - string
                    - 'null'
                required:
                - id
                - name
            required:
            - playbookId
      required:
      - id
    AiModel:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        creditsPerMessage:
          type: number
        isDefault:
          type: boolean
        order:
          type: number
        analyticsColor:
          type:
          - string
          - 'null'
        externalId:
          type:
          - string
          - 'null'
        aiVendor:
          type: string
        reasoningModel:
          type: boolean
        type:
          type: string
          enum:
          - TEXT
          - TRANSCRIPTION
          - FILE_ANALYSIS
      required:
      - id
      - name
    PublicAgentDeploymentStatusInput:
      type: object
      properties:
        isOffline:
          type: boolean
      required:
      - isOffline
    AgentChannelSettings:
      type: object
      properties:
        liveChat:
          type: object
          properties:
            splitMessages:
              type: boolean
            splitCharacterLimit:
              type: integer
            closeAfter:
              type:
              - number
              - 'null'
            timeUnit:
              type:
              - string
              - 'null'
              enum:
              - MINUTES
              - HOURS
            conversationClose:
              type: string
              enum:
              - NEVER
              - AUTOMATICALLY
              - DYNAMICALLY
            collectFeedback:
              type: boolean
            feedbackVisibility:
              type: string
              enum:
              - ON_HOVER
              - ALWAYS_VISIBLE
            feedbackText:
              type:
              - string
              - 'null'
            collectFeedbackReason:
              type: boolean
            includeOtherReason:
              type: boolean
            openFeedbackText:
              type:
              - string
              - 'null'
            feedbackReasons:
              type:
              - array
              - 'null'
              items:
                type: object
                properties:
                  id:
                    type: number
                  reason:
                    type: string
                  order:
                    type: number
                required:
                - id
                - reason
                - order
            enableDocumentProcessing:
              type: boolean
            enableImageProcessing:
              type: boolean
            enableIdle:
              type: boolean
            idleSettings:
              type:
              - object
              - 'null'
              properties:
                id:
                  type:
                  - number
                  - 'null'
                after:
                  type:
                  - number
                  - 'null'
                timeUnit:
                  type:
                  - string
                  - 'null'
                  enum:
                  - MINUTES
                  - HOURS
                resetsLimit:
                  type:
                  - number
                  - 'null'
              required:
              - after
              - timeUnit
              - resetsLimit
          required:
          - splitMessages
          - splitCharacterLimit
          - closeAfter
          - timeUnit
          - conversationClose
          - collectFeedback
          - feedbackVisibility
          - feedbackText
          - collectFeedbackReason
          - includeOtherReason
          - openFeedbackText
          - enableIdle
        whatsApp:
          type: object
          properties:
            splitMessages:
              type: boolean
            splitCharacterLimit:
              type: integer
            closeAfter:
              type:
              - number
              - 'null'
            timeUnit:
              type:
              - string
              - 'null'
              enum:
              - MINUTES
              - HOURS
            conversationClose:
              type:
              - string
              - 'null'
              enum:
              - NEVER
              - AUTOMATICALLY
              - DYNAMICALLY
            enableDocumentProcessing:
              type: boolean
            enableImageProcessing:
              type: boolean
            debounce:
              type: boolean
            debounceTime:
              type: integer
              minimum: 0
            enableIdle:
              type: boolean
            idleSettings:
              type:
              - object
              - 'null'
              properties:
                id:
                  type:
                  - number
                  - 'null'
                after:
                  type:
                  - number
                  - 'null'
                timeUnit:
                  type:
                  - string
                  - 'null'
                  enum:
                  - MINUTES
                  - HOURS
                resetsLimit:
                  type:
                  - number
                  - 'null'
              required:
              - after
              - timeUnit
              - resetsLimit
            conversationInterruptTimeout:
              type: integer
              minimum: 0
            conversationInterruptTimeUnit:
              type:
              - string
              - 'null'
              enum:
              - MINUTES
              - HOURS
            sendCloseMessage:
              type: boolean
            closeMessageType:
              type: string
              enum:
              - STATIC
              - DYNAMIC
            closeMessage:
              type:
              - string
              - 'null'
            closeInstruction:
              type:
              - string
              - 'null'
            autoReplyOnUninterrupt:
              type: boolean
          required:
          - splitMessages
          - splitCharacterLimit
          - enableIdle
          - sendCloseMessage
          - closeMessageType
        instagram:
          type: object
          properties:
            splitMessages:
              type: boolean
            splitCharacterLimit:
              type: integer
            closeAfter:
              type:
              - number
              - 'null'
            timeUnit:
              type:
              - string
              - 'null'
              enum:
              - MINUTES
              - HOURS
            conversationClose:
              type:
              - string
              - 'null'
              enum:
              - NEVER
              - AUTOMATICALLY
              - DYNAMICALLY
            enableImageProcessing:
              type: boolean
            enableIdle:
              type: boolean
            idleSettings:
              type:
              - object
              - 'null'
              properties:
                id:
                  type:
                  - number
                  - 'null'
                after:
                  type:
                  - number
                  - 'null'
                timeUnit:
                  type:
                  - string
                  - 'null'
                  enum:
                  - MINUTES
                  - HOURS
                resetsLimit:
                  type:
                  - number
                  - 'null'
              required:
              - after
              - timeUnit
              - resetsLimit
            conversationInterruptTimeout:
              type: integer
              minimum: 0
            conversationInterruptTimeUnit:
              type:
              - string
              - 'null'
              enum:
              - MINUTES
              - HOURS
            sendCloseMessage:
              type: boolean
            closeMessageType:
              type: string
              enum:
              - STATIC
              - DYNAMIC
            closeMessage:
              type:
              - string
              - 'null'
            closeInstruction:
              type:
              - string
              - 'null'
            autoReplyOnUninterrupt:
              type: boolean
          required:
          - splitMessages
          - splitCharacterLimit
          - enableIdle
          - sendCloseMessage
          - closeMessageType
        messenger:
          type: object
          properties:
            splitMessages:
              type: boolean
            splitCharacterLimit:
              type: integer
            closeAfter:
              type:
              - number
              - 'null'
            timeUnit:
              type:
              - string
              - 'null'
              enum:
              - MINUTES
              - HOURS
            conversationClose:
              type:
              - string
              - 'null'
              enum:
              - NEVER
              - AUTOMATICALLY
              - DYNAMICALLY
            enableImageProcessing:
              type: boolean
            enableIdle:
              type: boolean
            idleSettings:
              type:
              - object
              - 'null'
              properties:
                id:
                  type:
                  - number
                  - 'null'
                after:
                  type:
                  - number
                  - 'null'
                timeUnit:
                  type:
                  - string
                  - 'null'
                  enum:
                  - MINUTES
                  - HOURS
                resetsLimit:
                  type:
                  - number
                  - 'null'
              required:
              - after
              - timeUnit
              - resetsLimit
            conversationInterruptTimeout:
              type: integer
              minimum: 0
            conversationInterruptTimeUnit:
              type:
              - string
              - 'null'
              enum:
              - MINUTES
              - HOURS
            autoReplyOnUninterrupt:
              type: boolean
            sendCloseMessage:
              type: boolean
            closeMessageType:
              type: string
              enum:
              - STATIC
              - DYNAMIC
            closeMessage:
              type:
              - string
              - 'null'
            closeInstruction:
              type:
              - string
              - 'null'
          required:
          - splitMessages
          - splitCharacterLimit
          - enableIdle
          - sendCloseMessage
          - closeMessageType
      required:
      - liveChat
      - whatsApp
      - instagram
      - messenger
    Agent:
      type: object
      properties:
        id:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Support Bot
        description:
          type:
          - string
          - 'null'
          example: Main customer support agent
        status:
          type: string
          enum:
          - NONE
          - ACTIVE
          - INACTIVE
          - TRAINING
          - TRAIN_ERROR
          example: ACTIVE
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
      required:
      - id
      - name
      - description
      - status
      - createdAt
      - updatedAt
    PublicAgentUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          example: Support Agent
      required:
      - name
    AgentAnalytics:
      type: object
      properties:
        summary:
          type: object
          properties:
            totalCredits:
              type: number
              example: 500.25
            totalConversations:
              type: number
              example: 150
          required:
          - totalCredits
          - totalConversations
        creditsByDate:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                example: '2024-01-01'
              totalCredits:
                type: number
                example: 25.5
              conversationCount:
                type: number
                example: 10
            required:
            - date
            - totalCredits
            - conversationCount
        conversationsByChannel:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                example: '2024-01-15'
              channel:
                type: string
                example: WHATSAPP
              count:
                type: number
                example: 12
            required:
            - date
            - channel
            - count
      required:
      - summary
      - creditsByDate
      - conversationsByChannel
    PublicAgentThemeUpdateInput:
      type: object
      properties:
        avatar:
          type:
          - string
          - 'null'
        bubbleImage:
          type:
          - string
          - 'null'
        title:
          type: string
        initialMessage:
          type: string
        placeholder:
          type: string
        bubbleColor:
          type: string
        userMessageColor:
          type: string
        agentMessageColor:
          type:
          - string
          - 'null'
        bubbleAlignment:
          type: string
          enum:
          - RIGHT
          - LEFT
        progressIndicator:
          type: string
          enum:
          - STATIC
          - DYNAMIC
        verticalPositionInPixels:
          type: number
      required:
      - avatar
      - bubbleImage
      - title
      - initialMessage
      - placeholder
      - bubbleColor
      - userMessageColor
      - agentMessageColor
      - bubbleAlignment
      - progressIndicator
      - verticalPositionInPixels
    Error:
      type: object
      properties:
        ok:
          type: boolean
          enum:
          - false
          example: false
        error:
          $ref: '#/components/schemas/ErrorBody'
      required:
      - ok
      - error
  securitySchemes:
    accountApiKey:
      type: http
      scheme: bearer
      bearerFormat: Account API Key
      description: Account-level API key (GENERAL). Authenticates on behalf of the entire account. Use for read-only and analytics endpoints marked as account-level in this documentation.
    userApiKey:
      type: http
      scheme: bearer
      bearerFormat: User API Key
      description: User-level API key (USER). Authenticates on behalf of a specific user. Required for write operations and user-owned resources. Also accepted on all account-level endpoints.
x-tagGroups:
- name: Agent Builder
  tags:
  - Agent Builder
  - Flows
  - Flow Variables
  - Intents
  - Agents
  - Agent Playbooks
- name: Workflows
  tags:
  - Workflows
  - Workflow Variables
- name: Objects
  tags:
  - Objects
  - Object fields
  - Object options
  - Object record types
  - Object views
  - Object relations
  - Object rows
  - Object aggregations
  - Object activities
  - Object tasks
  - Object files
  - Object export
- name: Tables
  tags:
  - Tables
  - Table fields
  - Table options
  - Table rows
  - Table aggregations
  - Table activities
  - Table tasks
  - Table files
  - Table export
- name: Channels
  tags:
  - Channels
- name: Integrations
  tags:
  - Custom Tools
  - Incoming Webhooks
  - Account Integrations
  - Agent Channels
  - Integration Resources
- name: Knowledge
  tags:
  - Knowledge Bases
- name: Core
  tags:
  - Account
  - AI Models
  - Billing
  - Users
  - User Tasks
  - Guidance
