openapi: 3.0.0
info:
  title: Public API
  version: 1.0.0
  description: >-
    Public API for accessing agents, flows, and analytics.


    ## Authentication


    The Public API supports two API key types. Pass the key as a Bearer token:


    ```

    Authorization: Bearer <YOUR_API_KEY>

    ```


    ### Account API key (GENERAL)


    Account-level key that acts on behalf of the entire account. Required for
    account-level endpoints unless noted otherwise.


    ### User API key (USER)


    User-level key tied to a specific user. Required for write operations and
    user-owned resources. **Also accepted on all account-level endpoints.**


    Each operation documents which key type(s) it accepts in its **Security**
    section.
  license:
    name: Proprietary
    url: https://www.getfrontline.ai/terms-and-conditions
servers:
  - url: https://prod-api.getfrontline.ai
tags:
  - name: Account
    description: Inspect the identity attached to the current API key
  - name: Agent Builder
    description: View and manage your AI agents across your account
  - name: Flows
    description: View and manage flows associated with your agents
  - name: Agents
    description: 'Agent runtime data: conversations and transcripts'
  - name: Workflows
    description: View and manage your workflows across your account
  - name: Billing
    description: View billing plan details, credits, and renewal information
  - name: Flow Variables
    description: Manage variables scoped to an agent's flow
  - name: Workflow Variables
    description: Manage variables scoped to an automation workflow
  - name: Intents
    description: Manage agent intents and training phrases
  - name: AI Models
    description: Discover available AI models for agent configuration
  - name: Tools
    description: Manage reusable HTTP integrations callable from flows and workflows
  - name: Incoming Webhooks
    description: Inbound HTTPS endpoints that external systems can post events to
  - name: Objects
    description: Manage CRM objects (standard and custom)
  - name: Object fields
    description: Manage columns on an object
  - name: Object options
    description: Manage tag/select options on object fields
  - name: Object record types
    description: Categorize records inside an object
  - name: Object views
    description: Saved view configurations on an object
  - name: Object relations
    description: Link and unlink records across objects
  - name: Object rows
    description: Read and write object records
  - name: Object aggregations
    description: Per-view aggregations on objects
  - name: Object activities
    description: Manual activities (notes, calls, meetings, emails) attached to object rows
  - name: Object tasks
    description: Tasks attached to object rows
  - name: Object files
    description: Files attached to object rows
  - name: Object export
    description: Export object data as XLSX or CSV
  - name: Tables
    description: Manage spreadsheet-style tables
  - name: Table fields
    description: Manage columns on a table
  - name: Table options
    description: Manage tag/select options on table fields
  - name: Table rows
    description: Read and write table rows
  - name: Table aggregations
    description: Per-view aggregations on tables
  - name: Table activities
    description: Manual activities (notes, calls, meetings, emails) attached to table rows
  - name: Table tasks
    description: Tasks attached to table rows
  - name: Table files
    description: Files attached to table rows
  - name: Table export
    description: Export table data as XLSX or CSV
x-tagGroups:
  - name: Agent Builder
    tags:
      - Agent Builder
      - Flows
      - Flow Variables
      - Intents
      - Agents
  - name: Workflows
    tags:
      - Workflows
      - Workflow Variables
  - name: Objects
    tags:
      - Objects
      - Object fields
      - Object options
      - Object record types
      - Object views
      - Object relations
      - Object rows
      - Object aggregations
      - Object activities
      - Object tasks
      - Object files
      - Object export
  - name: Tables
    tags:
      - Tables
      - Table fields
      - Table options
      - Table rows
      - Table aggregations
      - Table activities
      - Table tasks
      - Table files
      - Table export
  - name: Integrations
    tags:
      - Tools
      - Incoming Webhooks
  - name: Core
    tags:
      - Account
      - AI Models
      - Billing
components:
  securitySchemes:
    accountApiKey:
      type: http
      scheme: bearer
      bearerFormat: Account API Key
      description: >-
        Account-level API key (GENERAL). Authenticates on behalf of the entire
        account. Use for read-only and analytics endpoints marked as
        account-level in this documentation.
    userApiKey:
      type: http
      scheme: bearer
      bearerFormat: User API Key
      description: >-
        User-level API key (USER). Authenticates on behalf of a specific user.
        Required for write operations and user-owned resources. Also accepted on
        all account-level endpoints.
  schemas:
    ErrorBody:
      type: object
      properties:
        code:
          type: string
          enum:
            - bad_request
            - unauthorized
            - forbidden
            - not_found
            - conflict
            - internal_error
            - cli_outdated
          example: unauthorized
        message:
          type: string
          example: Detailed error message
        details:
          type: object
          description: >-
            Optional structured details. Validation errors include `{ issues:
            [...] }`.
          example:
            issues:
              - path:
                  - name
                message: String must contain at least 1 character(s)
                code: too_small
      required:
        - code
        - message
    Error:
      type: object
      properties:
        ok:
          type: boolean
          enum:
            - false
          example: false
        error:
          $ref: '#/components/schemas/ErrorBody'
      required:
        - ok
        - error
    Me:
      type: object
      properties:
        ok:
          type: boolean
          enum:
            - true
          example: true
        data:
          type: object
          properties:
            account:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  example: 1234
                name:
                  type: string
                  example: Acme Inc.
                namespace:
                  type: string
                  example: acme
              required:
                - id
                - name
                - namespace
            user:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  example: 56
                email:
                  type: string
                  example: you@acme.com
              required:
                - id
                - email
              description: Null for GENERAL API keys; populated for USER keys.
          required:
            - account
            - user
      required:
        - ok
        - data
    AiModel:
      type: object
      properties:
        id:
          type: number
          example: 1
        name:
          type: string
          example: example
        description:
          type: string
          nullable: true
          example: example
        creditsPerMessage:
          type: number
          example: 1
        isDefault:
          type: boolean
          example: false
        order:
          type: number
          example: 1
        analyticsColor:
          type: string
          nullable: true
          example: example
        externalId:
          type: string
          nullable: true
          example: example
        aiVendor:
          type: string
          example: example
        reasoningModel:
          type: boolean
          example: false
        type:
          type: string
          enum:
            - TEXT
            - TRANSCRIPTION
            - FILE_ANALYSIS
          example: TEXT
      required:
        - id
        - name
    IncomingWebhookCreateOutput:
      type: object
      properties:
        id:
          type: string
          example: clx123incomingwebhook
        name:
          type: string
          example: External CRM event
        description:
          type: string
          nullable: true
          example: Receives events from the external CRM
        url:
          type: string
          example: https://hooks.example.com/webhook/clx123incomingwebhook
        isActive:
          type: boolean
          example: true
        useAuthentication:
          type: boolean
          example: true
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        accessToken:
          type: string
          nullable: true
          example: 64-character-access-token
      required:
        - id
        - name
        - url
        - isActive
        - useAuthentication
        - createdAt
        - updatedAt
    PublicIncomingWebhookCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: External CRM event
        description:
          type: string
          nullable: true
          example: Receives events from the external CRM
        isActive:
          type: boolean
          default: true
          example: true
        useAuthentication:
          type: boolean
          default: true
          example: true
      required:
        - name
    Tool:
      type: object
      properties:
        id:
          type: number
          example: 123
        name:
          type: string
          example: Fetch contact
        description:
          type: string
          example: Fetches a contact from the external CRM
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        status:
          type: string
          nullable: true
          enum:
            - PAUSED
            - ACTIVE
            - DELETED
          example: ACTIVE
        method:
          type: string
          nullable: true
          enum:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
          example: GET
        url:
          type: string
          nullable: true
          example: https://api.example.com/contacts/123
        body:
          type: string
          nullable: true
          example: example
        arguments:
          type: array
          nullable: true
          items:
            type: object
            properties:
              name:
                type: string
                example: example
              description:
                type: string
                nullable: true
                example: example
              dataType:
                type: string
                enum:
                  - STRING
                  - NUMBER
                  - DECIMAL
                  - BOOLEAN
                example: STRING
            required:
              - name
              - dataType
        headers:
          type: array
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: Authorization
              value:
                type: string
                example: Bearer {apiKey}
            required:
              - key
              - value
        queryParams:
          type: array
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: limit
              value:
                type: string
                example: '10'
            required:
              - key
              - value
        type:
          type: string
          enum:
            - API_CALL
            - WHATSAPP_TEMPLATE_MESSAGE
          example: API_CALL
      required:
        - id
        - name
        - description
        - createdAt
        - updatedAt
        - type
    Variable:
      type: object
      properties:
        id:
          type: number
          example: 123
        name:
          type: string
          example: customer_name
        description:
          type: string
          nullable: true
          example: example
        status:
          type: string
          enum:
            - ACTIVE
            - DELETED
          example: ACTIVE
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        assistantId:
          type: string
          nullable: true
          example: example
        automationId:
          type: number
          nullable: true
          example: 1
        pattern:
          type: string
          nullable: true
          example: example
        defaultValue:
          type: string
          nullable: true
          example: example
        isDefault:
          type: boolean
          example: false
      required:
        - id
        - name
        - status
        - createdAt
        - updatedAt
        - isDefault
    PublicFlowVariableCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: customer_name
        description:
          type: string
          nullable: true
          example: Customer name captured during the conversation
        pattern:
          type: string
          nullable: true
          example: ^[A-Za-z ]+$
      required:
        - name
    VariableCheckName:
      type: object
      properties:
        exists:
          type: boolean
          example: false
      required:
        - exists
    PublicVariableUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: customer_name
        description:
          type: string
          nullable: true
          example: Customer name captured during the conversation
        pattern:
          type: string
          nullable: true
          example: ^[A-Za-z ]+$
      required:
        - name
    PublicWorkflowVariableCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: customer_name
        description:
          type: string
          nullable: true
          example: Customer name captured during the conversation
        pattern:
          type: string
          nullable: true
          example: ^[A-Za-z ]+$
      required:
        - name
    Intent:
      type: object
      properties:
        id:
          type: number
          example: 10
        name:
          type: string
          example: Cancel order
        description:
          type: string
          nullable: true
          example: example
        createdAt:
          type: string
          nullable: true
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          nullable: true
          example: '2024-01-01T12:00:00Z'
        status:
          type: string
          enum:
            - ACTIVE
            - DELETED
          example: ACTIVE
        assistantId:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        phrases:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                example: 1
              phrase:
                type: string
                example: cancel my order
            required:
              - id
              - phrase
        flowId:
          type: number
          nullable: true
          example: 1
      required:
        - id
        - name
        - createdAt
        - updatedAt
        - status
        - assistantId
    PublicIntentCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Cancel order
        description:
          type: string
          nullable: true
          example: User wants to cancel
        phrases:
          type: array
          items:
            type: string
            example: example
          minItems: 1
          example:
            - cancel my order
      required:
        - name
        - phrases
    PublicIntentGeneratePhrasesOutput:
      type: object
      properties:
        phrases:
          type: array
          items:
            type: string
            example: example
          example:
            - I want to cancel my order
      required:
        - phrases
    PublicIntentGeneratePhrasesInput:
      type: object
      properties:
        name:
          type: string
          example: Cancel order
        samples:
          type: array
          items:
            type: string
            example: example
          example:
            - cancel my order
            - stop the order
        amount:
          type: integer
          minimum: 1
          maximum: 50
          example: 10
      required:
        - name
        - samples
        - amount
    PublicIntentUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Cancel order
        description:
          type: string
          nullable: true
          example: User wants to cancel
        phrases:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                nullable: true
                example: 1
              phrase:
                type: string
                example: cancel my order
            required:
              - phrase
          minItems: 1
      required:
        - name
        - phrases
    PublicToolCreateInput:
      type: object
      properties:
        type:
          type: string
          enum:
            - API_CALL
          default: API_CALL
          example: API_CALL
        name:
          type: string
          minLength: 1
          maxLength: 256
          example: Fetch contact
        description:
          type: string
          maxLength: 1000
          example: Fetches a contact from the external CRM
        method:
          type: string
          enum:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
          example: GET
        url:
          type: string
          format: uri
          example: https://api.example.com/contacts/123
        body:
          type: string
          description: >-
            Raw request body template (typically a JSON string). Interpolate
            argument values with single braces, e.g. {contactName} (not double
            braces).
          example: '{"name":"{contactName}"}'
        arguments:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                example: contactId
              description:
                type: string
                minLength: 1
                example: The contact ID to fetch
              dataType:
                type: string
                enum:
                  - STRING
                  - NUMBER
                  - DECIMAL
                  - BOOLEAN
                description: >-
                  Argument type. Use STRING, NUMBER (covers decimals), or
                  BOOLEAN. DECIMAL is accepted but not shown in the app UI —
                  prefer NUMBER.
                example: STRING
            required:
              - name
              - dataType
        headers:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: Authorization
              value:
                type: string
                example: Bearer {apiKey}
            required:
              - key
              - value
        queryParams:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: limit
              value:
                type: string
                example: '10'
            required:
              - key
              - value
      required:
        - name
        - description
        - method
        - url
    PublicToolUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          example: Fetch contact
        description:
          type: string
          maxLength: 1000
          example: Fetches a contact from the external CRM
        status:
          type: string
          enum:
            - ACTIVE
            - PAUSED
          example: ACTIVE
        method:
          type: string
          enum:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
          example: GET
        url:
          type: string
          format: uri
          example: https://api.example.com/contacts/123
        body:
          type: string
          description: >-
            Raw request body template (typically a JSON string). Interpolate
            argument values with single braces, e.g. {contactName} (not double
            braces).
          example: '{"name":"{contactName}"}'
        arguments:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                example: contactId
              description:
                type: string
                minLength: 1
                example: The contact ID to fetch
              dataType:
                type: string
                enum:
                  - STRING
                  - NUMBER
                  - DECIMAL
                  - BOOLEAN
                description: >-
                  Argument type. Use STRING, NUMBER (covers decimals), or
                  BOOLEAN. DECIMAL is accepted but not shown in the app UI —
                  prefer NUMBER.
                example: STRING
            required:
              - name
              - dataType
        headers:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: Authorization
              value:
                type: string
                example: Bearer {apiKey}
            required:
              - key
              - value
        queryParams:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                example: limit
              value:
                type: string
                example: '10'
            required:
              - key
              - value
    Agent:
      type: object
      properties:
        id:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Support Bot
        description:
          type: string
          nullable: true
          example: Main customer support agent
        status:
          type: string
          enum:
            - NONE
            - ACTIVE
            - INACTIVE
            - TRAINING
            - TRAIN_ERROR
          example: ACTIVE
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
      required:
        - id
        - name
        - description
        - status
        - createdAt
        - updatedAt
    AgentTheme:
      type: object
      nullable: true
      properties:
        id:
          type: number
          example: 1
        assistantId:
          type: string
          example: example
        avatar:
          type: string
          nullable: true
          example: example
        bubbleImage:
          type: string
          nullable: true
          example: example
        title:
          type: string
          example: example
        initialMessage:
          type: string
          example: example
        placeholder:
          type: string
          example: example
        bubbleColor:
          type: string
          example: example
        userMessageColor:
          type: string
          example: example
        agentMessageColor:
          type: string
          nullable: true
          example: example
        bubbleAlignment:
          type: string
          enum:
            - RIGHT
            - LEFT
          example: RIGHT
        progressIndicator:
          type: string
          enum:
            - STATIC
            - DYNAMIC
          example: STATIC
        verticalPositionInPixels:
          type: number
          example: 1
        removePowerBy:
          type: boolean
          example: false
        updatedAt:
          type: string
          example: example
      required:
        - id
        - avatar
        - bubbleImage
        - title
        - initialMessage
        - placeholder
        - bubbleColor
        - userMessageColor
        - agentMessageColor
        - bubbleAlignment
        - progressIndicator
        - verticalPositionInPixels
    AgentSetting:
      type: object
      nullable: true
      properties:
        id:
          type: number
          example: 1
        aiModelId:
          type: number
          nullable: true
          example: 1
        aiModel:
          allOf:
            - $ref: '#/components/schemas/AiModel'
          nullable: true
          type: object
        model:
          type: string
          nullable: true
          example: example
        aiType:
          type: string
          enum:
            - ASSISTANT
            - AGENT
          example: ASSISTANT
        temperature:
          type: number
          example: 1
        instructions:
          type: string
          nullable: true
          example: example
        agentRole:
          type: string
          enum:
            - NONE
            - CUSTOM
            - CUSTOMER_SUPPORT
            - SALES_REPRESENTATIVE
            - COLLECTIONS
            - RECRUITING_AGENT
            - HR_MANAGER
            - PRODUCT_COPILOT
            - AI_ASSISTANT
            - ANALYST
            - POST_SALES
          example: NONE
        toneOfVoice:
          type: string
          enum:
            - NONE
            - CUSTOM
            - FRIENDLY
            - NEUTRAL
            - MATTER_OF_FACT
            - PROFESSIONAL
            - HUMOROUS
            - WITTY
            - GEN_Z
          example: NONE
        answerLength:
          type: string
          enum:
            - NONE
            - CUSTOM
            - DYNAMIC
            - CONCISE
            - STANDARD
            - THOROUGH
          example: NONE
        maxIterations:
          type: number
          example: 1
        agentType:
          type: string
          enum:
            - BASIC
            - ADVANCED
          example: BASIC
        customTools:
          type: array
          nullable: true
          items:
            type: object
            properties:
              id:
                type: number
                example: 1
              name:
                type: string
                example: example
              description:
                type: string
                nullable: true
                example: example
              status:
                type: string
                nullable: true
                example: example
              type:
                type: string
                nullable: true
                example: example
            required:
              - id
              - name
        systemToolsConfig:
          nullable: true
          type: object
        agentConnectedAccounts:
          type: array
          nullable: true
          items:
            type: object
            properties:
              connectedAccountId:
                type: number
                example: 1
              useAllTools:
                type: boolean
                example: false
              selectedToolSlugs:
                type: array
                nullable: true
                items:
                  type: string
                  example: example
              connectedAccount:
                type: object
                properties:
                  id:
                    type: number
                    example: 1
                  toolkit:
                    type: string
                    example: example
                  alias:
                    type: string
                    nullable: true
                    example: example
                  connectedEmail:
                    type: string
                    nullable: true
                    example: example
                  isConnected:
                    type: boolean
                    example: false
                required:
                  - id
                  - toolkit
                  - alias
                  - connectedEmail
                  - isConnected
            required:
              - connectedAccountId
              - useAllTools
        agentPlaybooks:
          type: array
          nullable: true
          items:
            type: object
            properties:
              playbookId:
                type: number
                example: 1
              assignedAt:
                type: string
                example: example
              playbook:
                type: object
                properties:
                  id:
                    type: number
                    example: 1
                  name:
                    type: string
                    example: example
                  description:
                    type: string
                    nullable: true
                    example: example
                required:
                  - id
                  - name
            required:
              - playbookId
      required:
        - id
    AgentDetail:
      allOf:
        - $ref: '#/components/schemas/Agent'
        - type: object
          properties:
            isOffline:
              type: boolean
              example: false
            ownerId:
              type: number
              example: 1
            accountId:
              type: number
              example: 1
            theme:
              $ref: '#/components/schemas/AgentTheme'
            agentSetting:
              $ref: '#/components/schemas/AgentSetting'
            channel:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  example: 1
                channelLiveChat:
                  type: object
                  nullable: true
                  properties:
                    splitMessages:
                      type: boolean
                      example: false
                    splitCharacterLimit:
                      type: integer
                      example: 1
                    closeAfter:
                      type: number
                      nullable: true
                      example: 1
                    timeUnit:
                      type: string
                      nullable: true
                      enum:
                        - MINUTES
                        - HOURS
                      example: MINUTES
                    conversationClose:
                      type: string
                      enum:
                        - NEVER
                        - AUTOMATICALLY
                        - DYNAMICALLY
                      example: NEVER
                    collectFeedback:
                      type: boolean
                      example: false
                    feedbackVisibility:
                      type: string
                      enum:
                        - ON_HOVER
                        - ALWAYS_VISIBLE
                      example: ON_HOVER
                    feedbackText:
                      type: string
                      nullable: true
                      example: example
                    collectFeedbackReason:
                      type: boolean
                      example: false
                    includeOtherReason:
                      type: boolean
                      example: false
                    openFeedbackText:
                      type: string
                      nullable: true
                      example: example
                    feedbackReasons:
                      type: array
                      nullable: true
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                            example: 1
                          reason:
                            type: string
                            example: example
                          order:
                            type: number
                            example: 1
                        required:
                          - id
                          - reason
                          - order
                    enableDocumentProcessing:
                      type: boolean
                      example: false
                    enableImageProcessing:
                      type: boolean
                      example: false
                    enableIdle:
                      type: boolean
                      example: false
                    idleSettings:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: number
                          nullable: true
                          example: 1
                        after:
                          type: number
                          nullable: true
                          example: 1
                        timeUnit:
                          type: string
                          nullable: true
                          enum:
                            - MINUTES
                            - HOURS
                          example: MINUTES
                        resetsLimit:
                          type: number
                          nullable: true
                          example: 1
                      required:
                        - after
                        - timeUnit
                        - resetsLimit
                    id:
                      type: number
                      example: 1
                  required:
                    - splitMessages
                    - splitCharacterLimit
                    - closeAfter
                    - timeUnit
                    - conversationClose
                    - collectFeedback
                    - feedbackVisibility
                    - feedbackText
                    - collectFeedbackReason
                    - includeOtherReason
                    - openFeedbackText
                    - enableIdle
                    - id
                channelWhatsapp:
                  type: object
                  nullable: true
                  properties:
                    splitMessages:
                      type: boolean
                      example: false
                    splitCharacterLimit:
                      type: integer
                      example: 1
                    closeAfter:
                      type: number
                      nullable: true
                      example: 1
                    timeUnit:
                      type: string
                      nullable: true
                      enum:
                        - MINUTES
                        - HOURS
                      example: MINUTES
                    conversationClose:
                      type: string
                      nullable: true
                      enum:
                        - NEVER
                        - AUTOMATICALLY
                        - DYNAMICALLY
                      example: NEVER
                    enableDocumentProcessing:
                      type: boolean
                      example: false
                    enableImageProcessing:
                      type: boolean
                      example: false
                    debounce:
                      type: boolean
                      example: false
                    debounceTime:
                      type: integer
                      minimum: 0
                      example: 0
                    enableIdle:
                      type: boolean
                      example: false
                    idleSettings:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: number
                          nullable: true
                          example: 1
                        after:
                          type: number
                          nullable: true
                          example: 1
                        timeUnit:
                          type: string
                          nullable: true
                          enum:
                            - MINUTES
                            - HOURS
                          example: MINUTES
                        resetsLimit:
                          type: number
                          nullable: true
                          example: 1
                      required:
                        - after
                        - timeUnit
                        - resetsLimit
                    conversationInterruptTimeout:
                      type: integer
                      minimum: 0
                      example: 0
                    sendCloseMessage:
                      type: boolean
                      example: false
                    closeMessageType:
                      type: string
                      enum:
                        - STATIC
                        - DYNAMIC
                      example: STATIC
                    closeMessage:
                      type: string
                      nullable: true
                      example: example
                    closeInstruction:
                      type: string
                      nullable: true
                      example: example
                    autoReplyOnUninterrupt:
                      type: boolean
                      example: false
                    id:
                      type: number
                      example: 1
                  required:
                    - splitMessages
                    - splitCharacterLimit
                    - enableIdle
                    - sendCloseMessage
                    - closeMessageType
                    - id
                channelInstagram:
                  type: object
                  nullable: true
                  properties:
                    splitMessages:
                      type: boolean
                      example: false
                    splitCharacterLimit:
                      type: integer
                      example: 1
                    closeAfter:
                      type: number
                      nullable: true
                      example: 1
                    timeUnit:
                      type: string
                      nullable: true
                      enum:
                        - MINUTES
                        - HOURS
                      example: MINUTES
                    conversationClose:
                      type: string
                      nullable: true
                      enum:
                        - NEVER
                        - AUTOMATICALLY
                        - DYNAMICALLY
                      example: NEVER
                    enableImageProcessing:
                      type: boolean
                      example: false
                    enableIdle:
                      type: boolean
                      example: false
                    idleSettings:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: number
                          nullable: true
                          example: 1
                        after:
                          type: number
                          nullable: true
                          example: 1
                        timeUnit:
                          type: string
                          nullable: true
                          enum:
                            - MINUTES
                            - HOURS
                          example: MINUTES
                        resetsLimit:
                          type: number
                          nullable: true
                          example: 1
                      required:
                        - after
                        - timeUnit
                        - resetsLimit
                    conversationInterruptTimeout:
                      type: integer
                      minimum: 0
                      example: 0
                    sendCloseMessage:
                      type: boolean
                      example: false
                    closeMessageType:
                      type: string
                      enum:
                        - STATIC
                        - DYNAMIC
                      example: STATIC
                    closeMessage:
                      type: string
                      nullable: true
                      example: example
                    closeInstruction:
                      type: string
                      nullable: true
                      example: example
                    autoReplyOnUninterrupt:
                      type: boolean
                      example: false
                    id:
                      type: number
                      example: 1
                  required:
                    - splitMessages
                    - splitCharacterLimit
                    - enableIdle
                    - sendCloseMessage
                    - closeMessageType
                    - id
                channelMessenger:
                  type: object
                  nullable: true
                  properties:
                    splitMessages:
                      type: boolean
                      example: false
                    splitCharacterLimit:
                      type: integer
                      example: 1
                    closeAfter:
                      type: number
                      nullable: true
                      example: 1
                    timeUnit:
                      type: string
                      nullable: true
                      enum:
                        - MINUTES
                        - HOURS
                      example: MINUTES
                    conversationClose:
                      type: string
                      nullable: true
                      enum:
                        - NEVER
                        - AUTOMATICALLY
                        - DYNAMICALLY
                      example: NEVER
                    enableImageProcessing:
                      type: boolean
                      example: false
                    enableIdle:
                      type: boolean
                      example: false
                    idleSettings:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: number
                          nullable: true
                          example: 1
                        after:
                          type: number
                          nullable: true
                          example: 1
                        timeUnit:
                          type: string
                          nullable: true
                          enum:
                            - MINUTES
                            - HOURS
                          example: MINUTES
                        resetsLimit:
                          type: number
                          nullable: true
                          example: 1
                      required:
                        - after
                        - timeUnit
                        - resetsLimit
                    conversationInterruptTimeout:
                      type: integer
                      minimum: 0
                      example: 0
                    autoReplyOnUninterrupt:
                      type: boolean
                      example: false
                    sendCloseMessage:
                      type: boolean
                      example: false
                    closeMessageType:
                      type: string
                      enum:
                        - STATIC
                        - DYNAMIC
                      example: STATIC
                    closeMessage:
                      type: string
                      nullable: true
                      example: example
                    closeInstruction:
                      type: string
                      nullable: true
                      example: example
                    id:
                      type: number
                      example: 1
                  required:
                    - splitMessages
                    - splitCharacterLimit
                    - enableIdle
                    - sendCloseMessage
                    - closeMessageType
                    - id
              required:
                - id
          required:
            - isOffline
            - accountId
    PublicAgentCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Support Agent
      required:
        - name
    PublicAgentUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
          example: Support Agent
      required:
        - name
    PublicAgentSettingUpdateInput:
      type: object
      properties:
        aiModelId:
          type: number
          nullable: true
          example: 1
        temperature:
          type: number
          minimum: 0
          maximum: 1
          example: 0
        instructions:
          type: string
          nullable: true
          example: example
        maxIterations:
          type: number
          minimum: 3
          maximum: 30
          default: 10
          example: 3
        agentType:
          type: string
          enum:
            - BASIC
            - ADVANCED
          default: BASIC
          example: BASIC
        customToolIds:
          type: array
          nullable: true
          items:
            type: number
            example: 1
        connectedAccountConfigs:
          type: array
          nullable: true
          items:
            type: object
            properties:
              connectedAccountId:
                type: number
                example: 1
              useAllTools:
                type: boolean
                default: true
                example: false
              selectedToolSlugs:
                type: array
                nullable: true
                items:
                  type: string
                  example: example
            required:
              - connectedAccountId
        systemToolsConfig:
          type: object
          nullable: true
          properties:
            webSearchEnabled:
              type: boolean
              default: false
              example: false
            urlScrapeEnabled:
              type: boolean
              default: false
              example: false
            linkedinSearchEnabled:
              type: boolean
              default: false
              example: false
      required:
        - aiModelId
        - temperature
        - instructions
    PublicAgentThemeUpdateOutput:
      type: object
      properties:
        id:
          type: number
          example: 1
        assistantId:
          type: string
          example: example
        avatar:
          type: string
          nullable: true
          example: example
        bubbleImage:
          type: string
          nullable: true
          example: example
        title:
          type: string
          example: example
        initialMessage:
          type: string
          example: example
        placeholder:
          type: string
          example: example
        bubbleColor:
          type: string
          example: example
        userMessageColor:
          type: string
          example: example
        agentMessageColor:
          type: string
          nullable: true
          example: example
        bubbleAlignment:
          type: string
          enum:
            - RIGHT
            - LEFT
          example: RIGHT
        progressIndicator:
          type: string
          enum:
            - STATIC
            - DYNAMIC
          example: STATIC
        verticalPositionInPixels:
          type: number
          example: 1
        updatedAt:
          type: string
          example: example
      required:
        - id
        - assistantId
        - avatar
        - bubbleImage
        - title
        - initialMessage
        - placeholder
        - bubbleColor
        - userMessageColor
        - agentMessageColor
        - bubbleAlignment
        - progressIndicator
        - verticalPositionInPixels
        - updatedAt
    PublicAgentThemeUpdateInput:
      type: object
      properties:
        avatar:
          type: string
          nullable: true
          example: example
        bubbleImage:
          type: string
          nullable: true
          example: example
        title:
          type: string
          example: example
        initialMessage:
          type: string
          example: example
        placeholder:
          type: string
          example: example
        bubbleColor:
          type: string
          example: example
        userMessageColor:
          type: string
          example: example
        agentMessageColor:
          type: string
          nullable: true
          example: example
        bubbleAlignment:
          type: string
          enum:
            - RIGHT
            - LEFT
          example: RIGHT
        progressIndicator:
          type: string
          enum:
            - STATIC
            - DYNAMIC
          example: STATIC
        verticalPositionInPixels:
          type: number
          example: 1
      required:
        - avatar
        - bubbleImage
        - title
        - initialMessage
        - placeholder
        - bubbleColor
        - userMessageColor
        - agentMessageColor
        - bubbleAlignment
        - progressIndicator
        - verticalPositionInPixels
    PublicAgentDeploymentStatusInput:
      type: object
      properties:
        isOffline:
          type: boolean
          example: false
      required:
        - isOffline
    AgentChannelSettings:
      type: object
      properties:
        liveChat:
          type: object
          properties:
            splitMessages:
              type: boolean
              example: false
            splitCharacterLimit:
              type: integer
              example: 1
            closeAfter:
              type: number
              nullable: true
              example: 1
            timeUnit:
              type: string
              nullable: true
              enum:
                - MINUTES
                - HOURS
              example: MINUTES
            conversationClose:
              type: string
              enum:
                - NEVER
                - AUTOMATICALLY
                - DYNAMICALLY
              example: NEVER
            collectFeedback:
              type: boolean
              example: false
            feedbackVisibility:
              type: string
              enum:
                - ON_HOVER
                - ALWAYS_VISIBLE
              example: ON_HOVER
            feedbackText:
              type: string
              nullable: true
              example: example
            collectFeedbackReason:
              type: boolean
              example: false
            includeOtherReason:
              type: boolean
              example: false
            openFeedbackText:
              type: string
              nullable: true
              example: example
            feedbackReasons:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  id:
                    type: number
                    example: 1
                  reason:
                    type: string
                    example: example
                  order:
                    type: number
                    example: 1
                required:
                  - id
                  - reason
                  - order
            enableDocumentProcessing:
              type: boolean
              example: false
            enableImageProcessing:
              type: boolean
              example: false
            enableIdle:
              type: boolean
              example: false
            idleSettings:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  nullable: true
                  example: 1
                after:
                  type: number
                  nullable: true
                  example: 1
                timeUnit:
                  type: string
                  nullable: true
                  enum:
                    - MINUTES
                    - HOURS
                  example: MINUTES
                resetsLimit:
                  type: number
                  nullable: true
                  example: 1
              required:
                - after
                - timeUnit
                - resetsLimit
          required:
            - splitMessages
            - splitCharacterLimit
            - closeAfter
            - timeUnit
            - conversationClose
            - collectFeedback
            - feedbackVisibility
            - feedbackText
            - collectFeedbackReason
            - includeOtherReason
            - openFeedbackText
            - enableIdle
        whatsApp:
          type: object
          properties:
            splitMessages:
              type: boolean
              example: false
            splitCharacterLimit:
              type: integer
              example: 1
            closeAfter:
              type: number
              nullable: true
              example: 1
            timeUnit:
              type: string
              nullable: true
              enum:
                - MINUTES
                - HOURS
              example: MINUTES
            conversationClose:
              type: string
              nullable: true
              enum:
                - NEVER
                - AUTOMATICALLY
                - DYNAMICALLY
              example: NEVER
            enableDocumentProcessing:
              type: boolean
              example: false
            enableImageProcessing:
              type: boolean
              example: false
            debounce:
              type: boolean
              example: false
            debounceTime:
              type: integer
              minimum: 0
              example: 0
            enableIdle:
              type: boolean
              example: false
            idleSettings:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  nullable: true
                  example: 1
                after:
                  type: number
                  nullable: true
                  example: 1
                timeUnit:
                  type: string
                  nullable: true
                  enum:
                    - MINUTES
                    - HOURS
                  example: MINUTES
                resetsLimit:
                  type: number
                  nullable: true
                  example: 1
              required:
                - after
                - timeUnit
                - resetsLimit
            conversationInterruptTimeout:
              type: integer
              minimum: 0
              example: 0
            sendCloseMessage:
              type: boolean
              example: false
            closeMessageType:
              type: string
              enum:
                - STATIC
                - DYNAMIC
              example: STATIC
            closeMessage:
              type: string
              nullable: true
              example: example
            closeInstruction:
              type: string
              nullable: true
              example: example
            autoReplyOnUninterrupt:
              type: boolean
              example: false
          required:
            - splitMessages
            - splitCharacterLimit
            - enableIdle
            - sendCloseMessage
            - closeMessageType
        instagram:
          type: object
          properties:
            splitMessages:
              type: boolean
              example: false
            splitCharacterLimit:
              type: integer
              example: 1
            closeAfter:
              type: number
              nullable: true
              example: 1
            timeUnit:
              type: string
              nullable: true
              enum:
                - MINUTES
                - HOURS
              example: MINUTES
            conversationClose:
              type: string
              nullable: true
              enum:
                - NEVER
                - AUTOMATICALLY
                - DYNAMICALLY
              example: NEVER
            enableImageProcessing:
              type: boolean
              example: false
            enableIdle:
              type: boolean
              example: false
            idleSettings:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  nullable: true
                  example: 1
                after:
                  type: number
                  nullable: true
                  example: 1
                timeUnit:
                  type: string
                  nullable: true
                  enum:
                    - MINUTES
                    - HOURS
                  example: MINUTES
                resetsLimit:
                  type: number
                  nullable: true
                  example: 1
              required:
                - after
                - timeUnit
                - resetsLimit
            conversationInterruptTimeout:
              type: integer
              minimum: 0
              example: 0
            sendCloseMessage:
              type: boolean
              example: false
            closeMessageType:
              type: string
              enum:
                - STATIC
                - DYNAMIC
              example: STATIC
            closeMessage:
              type: string
              nullable: true
              example: example
            closeInstruction:
              type: string
              nullable: true
              example: example
            autoReplyOnUninterrupt:
              type: boolean
              example: false
          required:
            - splitMessages
            - splitCharacterLimit
            - enableIdle
            - sendCloseMessage
            - closeMessageType
        messenger:
          type: object
          properties:
            splitMessages:
              type: boolean
              example: false
            splitCharacterLimit:
              type: integer
              example: 1
            closeAfter:
              type: number
              nullable: true
              example: 1
            timeUnit:
              type: string
              nullable: true
              enum:
                - MINUTES
                - HOURS
              example: MINUTES
            conversationClose:
              type: string
              nullable: true
              enum:
                - NEVER
                - AUTOMATICALLY
                - DYNAMICALLY
              example: NEVER
            enableImageProcessing:
              type: boolean
              example: false
            enableIdle:
              type: boolean
              example: false
            idleSettings:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  nullable: true
                  example: 1
                after:
                  type: number
                  nullable: true
                  example: 1
                timeUnit:
                  type: string
                  nullable: true
                  enum:
                    - MINUTES
                    - HOURS
                  example: MINUTES
                resetsLimit:
                  type: number
                  nullable: true
                  example: 1
              required:
                - after
                - timeUnit
                - resetsLimit
            conversationInterruptTimeout:
              type: integer
              minimum: 0
              example: 0
            autoReplyOnUninterrupt:
              type: boolean
              example: false
            sendCloseMessage:
              type: boolean
              example: false
            closeMessageType:
              type: string
              enum:
                - STATIC
                - DYNAMIC
              example: STATIC
            closeMessage:
              type: string
              nullable: true
              example: example
            closeInstruction:
              type: string
              nullable: true
              example: example
          required:
            - splitMessages
            - splitCharacterLimit
            - enableIdle
            - sendCloseMessage
            - closeMessageType
      required:
        - liveChat
        - whatsApp
        - instagram
        - messenger
    Flow:
      type: object
      properties:
        id:
          type: number
          example: 101
        name:
          type: string
          example: Order Retrieval
        description:
          type: string
          nullable: true
          example: Extracts order info from DB
        status:
          type: string
          enum:
            - ACTIVE
            - SUSPENDED
            - DELETED
            - DRAFT
          example: ACTIVE
        createdAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        updatedAt:
          type: string
          example: '2024-01-01T12:00:00Z'
        runCount:
          type: number
          example: 450
      required:
        - id
        - name
        - description
        - status
        - createdAt
        - updatedAt
        - runCount
    DynamicTablesQueryCondition:
      type: object
      properties:
        path:
          type: string
          description: Field path in format [Field] or [Relation].[Field]
          example: '[Status]'
        operator:
          type: string
          example: equals
        value:
          nullable: true
          type: object
        valueType:
          nullable: true
          type: object
      required:
        - path
        - operator
    DynamicTablesQueryGroup:
      type: object
      properties:
        operator:
          type: string
          enum:
            - and
            - or
          example: and
        conditions:
          type: array
          items:
            nullable: true
            type: object
          description: Nested filter conditions or AND/OR groups
      required:
        - operator
        - conditions
    DynamicTablesQuery:
      anyOf:
        - $ref: '#/components/schemas/DynamicTablesQueryCondition'
        - $ref: '#/components/schemas/DynamicTablesQueryGroup'
        - nullable: true
          type: object
    PublicFlowNode:
      type: object
      properties:
        nodeId:
          type: string
          pattern: >-
            node_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}
          example: node_550e8400-e29b-41d4-a716-446655440000
        alias:
          type: string
          nullable: true
          example: Start
        name:
          type: string
          example: Start
        position:
          type: object
          properties:
            positionX:
              type: number
              example: 1
            positionY:
              type: number
              example: 1
          required:
            - positionX
            - positionY
        type:
          type: string
          enum:
            - START
            - TRIGGER_INTENT
            - SAY_AI
            - RESPONSE_AI
            - TOOLS_AI
            - API
            - CONDITIONAL_ROUTING
            - DYNAMIC_TABLES
          example: START
        data:
          oneOf:
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - TRIGGER_INTENT
                  example: TRIGGER_INTENT
                agenticRouting:
                  type: string
                  nullable: true
                  example: example
                intentIds:
                  type: array
                  nullable: true
                  items:
                    type: number
                    example: 1
                intents:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 1
                      name:
                        type: string
                        example: example
                      description:
                        type: string
                        nullable: true
                        example: example
                      createdAt:
                        type: string
                        nullable: true
                        example: example
                      updatedAt:
                        type: string
                        nullable: true
                        example: example
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - DELETED
                        example: ACTIVE
                      assistantId:
                        type: string
                        example: example
                      phrases:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 1
                            phrase:
                              type: string
                              example: example
                          required:
                            - id
                            - phrase
                      flowId:
                        type: number
                        nullable: true
                        example: 1
                    required:
                      - id
                      - name
                      - createdAt
                      - updatedAt
                      - status
                      - assistantId
              required:
                - type
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - SAY_AI
                  example: SAY_AI
                message:
                  type: string
                  nullable: true
                  example: example
                temperature:
                  type: number
                  default: 0.7
                  example: 1
                prompt:
                  type: string
                  nullable: true
                  example: example
                aiModelId:
                  type: number
                  nullable: true
                  example: 1
                model:
                  type: string
                  nullable: true
                  example: example
                aiVendor:
                  type: string
                  nullable: true
                  enum:
                    - OPENAI
                    - ANTHROPIC
                    - GOOGLE
                    - AZURE
                    - DEEPSEEK
                    - LLAMA
                  example: OPENAI
                sayWithAi:
                  type: boolean
                  example: false
              required:
                - type
                - sayWithAi
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - RESPONSE_AI
                  example: RESPONSE_AI
                assistantId:
                  type: string
                  format: uuid
                  description: >-
                    Owning assistant UUID. Validated against the account on
                    save.
                  example: 550e8400-e29b-41d4-a716-446655440000
                aiModelId:
                  type: number
                  nullable: true
                  example: 1
                model:
                  type: string
                  example: example
                aiVendor:
                  type: string
                  enum:
                    - OPENAI
                    - ANTHROPIC
                    - GOOGLE
                    - AZURE
                    - DEEPSEEK
                    - LLAMA
                  example: OPENAI
                instructions:
                  type: string
                  nullable: true
                  example: example
                temperature:
                  type: number
                  example: 1
                captureVariables:
                  type: array
                  items:
                    nullable: true
                    type: object
                exitNodeWhen:
                  type: string
                  enum:
                    - ALL_VARIABLES
                    - FLOW_TRIGGERED
                    - ANY_VARIABLES
                  example: ALL_VARIABLES
                knowledgeBaseMode:
                  type: string
                  enum:
                    - DEFAULT
                    - CUSTOM
                    - DISABLED
                  default: DEFAULT
                  example: DEFAULT
                knowledgeBaseIds:
                  type: array
                  nullable: true
                  items:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                    example: 1
              required:
                - type
                - assistantId
                - model
                - aiVendor
                - instructions
                - temperature
                - captureVariables
                - exitNodeWhen
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - TOOLS_AI
                  example: TOOLS_AI
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      handleId:
                        type: string
                        example: example
                      expression:
                        type: string
                        example: example
                    required:
                      - handleId
                      - expression
                temperature:
                  type: number
                  example: 1
                model:
                  type: string
                  example: example
                aiVendor:
                  type: string
                  enum:
                    - OPENAI
                    - ANTHROPIC
                    - GOOGLE
                    - AZURE
                    - DEEPSEEK
                    - LLAMA
                  example: OPENAI
                instructions:
                  type: string
                  nullable: true
                  example: example
                prompt:
                  type: string
                  nullable: true
                  example: example
                customToolIds:
                  type: array
                  nullable: true
                  items:
                    type: number
                    example: 1
                maxIterations:
                  type: number
                  minimum: 1
                  maximum: 30
                  default: 10
                  example: 1
                agentType:
                  type: string
                  enum:
                    - BASIC
                    - ADVANCED
                  default: BASIC
                  example: BASIC
                captureVariables:
                  type: array
                  nullable: true
                  items:
                    nullable: true
                    type: object
                knowledgeBaseMode:
                  type: string
                  enum:
                    - DEFAULT
                    - CUSTOM
                    - DISABLED
                  default: DEFAULT
                  example: DEFAULT
                knowledgeBaseIds:
                  type: array
                  nullable: true
                  items:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                    example: 1
                selectedRecordTypes:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      recordTypeId:
                        type: number
                        example: 1
                      read:
                        type: boolean
                        example: false
                      create:
                        type: boolean
                        example: false
                      update:
                        type: boolean
                        example: false
                      delete:
                        type: boolean
                        example: false
                      createActivity:
                        type: boolean
                        example: false
                    required:
                      - recordTypeId
                systemToolsConfig:
                  type: object
                  nullable: true
                  properties:
                    webSearchEnabled:
                      type: boolean
                      default: false
                      example: false
                    urlScrapeEnabled:
                      type: boolean
                      default: false
                      example: false
                    linkedinSearchEnabled:
                      type: boolean
                      default: false
                      example: false
                connectedAccountConfigs:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      connectedAccountId:
                        type: number
                        example: 1
                      useAllTools:
                        type: boolean
                        default: true
                        example: false
                      selectedToolSlugs:
                        type: array
                        nullable: true
                        items:
                          type: string
                          example: example
                    required:
                      - connectedAccountId
                playbookIds:
                  type: array
                  nullable: true
                  items:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                    example: 1
              required:
                - type
                - conditions
                - instructions
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - API
                  example: API
                url:
                  type: string
                  format: uri
                  example: https://api.example.com/hook
                method:
                  type: string
                  enum:
                    - GET
                    - POST
                    - PUT
                    - DELETE
                    - PATCH
                  example: GET
                headers:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        example: example
                      value:
                        type: string
                        example: example
                    required:
                      - key
                      - value
                body:
                  type: string
                  nullable: true
                  example: example
                response:
                  type: string
                  nullable: true
                  example: example
                parameters:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        example: example
                      value:
                        type: string
                        example: example
                    required:
                      - key
                      - value
                variables:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        example: example
                      value:
                        type: string
                        example: example
                      fullResponse:
                        type: boolean
                        default: false
                        example: false
                    required:
                      - key
                      - value
              required:
                - type
                - url
                - method
                - headers
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - CONDITIONAL_ROUTING
                  example: CONDITIONAL_ROUTING
                routingType:
                  type: string
                  enum:
                    - CONDITIONAL_AI
                    - DYNAMIC
                  example: CONDITIONAL_AI
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      handleId:
                        type: string
                        example: example
                      expression:
                        type: string
                        example: example
                    required:
                      - handleId
                      - expression
                temperature:
                  type: number
                  example: 1
                model:
                  type: string
                  example: example
                aiVendor:
                  type: string
                  enum:
                    - OPENAI
                    - ANTHROPIC
                    - GOOGLE
                    - AZURE
                    - DEEPSEEK
                    - LLAMA
                  example: OPENAI
              required:
                - type
                - routingType
                - conditions
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - DYNAMIC_TABLES
                  example: DYNAMIC_TABLES
                tableId:
                  type: number
                  nullable: true
                  example: 1
                recordTypeId:
                  type: number
                  nullable: true
                  example: 1
                targetRecordTypeId:
                  type: number
                  nullable: true
                  description: >-
                    Destination record type id. Required when actionType is
                    CHANGE_RECORD_TYPE.
                  example: 12
                actionType:
                  type: string
                  nullable: true
                  enum:
                    - CREATE
                    - UPDATE
                    - DELETE
                    - SEARCH
                    - SEARCH_BY_ID
                    - CHANGE_RECORD_TYPE
                  description: >-
                    Operation to run. Required-field rules per action: CREATE →
                    rowData; UPDATE → rowId + rowData; DELETE / SEARCH_BY_ID →
                    rowId; CHANGE_RECORD_TYPE → rowId + targetRecordTypeId.
                  example: CREATE
                rowData:
                  type: object
                  nullable: true
                  additionalProperties:
                    nullable: true
                    type: object
                inputModeByField:
                  type: object
                  nullable: true
                  additionalProperties:
                    type: string
                    enum:
                      - INPUT
                      - VARIABLE
                      - EMPTY
                    example: INPUT
                rowId:
                  type: string
                  nullable: true
                  example: example
                search:
                  type: string
                  nullable: true
                  example: example
                pageNum:
                  type: number
                  nullable: true
                  example: 1
                pageSize:
                  type: number
                  nullable: true
                  example: 1
                sort:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      path:
                        type: string
                        example: example
                      type:
                        type: string
                        enum:
                          - asc
                          - desc
                        example: asc
                    required:
                      - path
                      - type
                query:
                  $ref: '#/components/schemas/DynamicTablesQuery'
              required:
                - type
            - nullable: true
              type: object
        workflowId:
          type: string
          example: example
        handles:
          type: array
          items:
            type: object
            properties:
              handleId:
                type: string
                example: example
              sourceEdge:
                type: object
                properties:
                  from:
                    type: string
                    example: example
                  fromHandleId:
                    type: string
                    example: example
                  to:
                    type: string
                    example: example
                  toHandleId:
                    type: string
                    example: example
                required:
                  - from
                  - fromHandleId
                  - to
                  - toHandleId
              text:
                type: string
                example: example
            required:
              - handleId
              - sourceEdge
              - text
        targetEdges:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                example: example
              fromHandleId:
                type: string
                example: example
              to:
                type: string
                example: example
              toHandleId:
                type: string
                example: example
            required:
              - from
              - fromHandleId
              - to
              - toHandleId
        createdAt:
          type: string
          nullable: true
          example: example
        updatedAt:
          type: string
          nullable: true
          example: example
      required:
        - nodeId
        - position
        - type
    FlowDetail:
      allOf:
        - $ref: '#/components/schemas/Flow'
        - type: object
          properties:
            assistantId:
              type: string
              example: 550e8400-e29b-41d4-a716-446655440000
            isDefault:
              type: boolean
              example: false
            liveSnapshotId:
              type: string
              nullable: true
              example: 64f1c2e6a75f2d4a9a2f1234
            draftSnapshotId:
              type: string
              nullable: true
              example: 64f1c2e6a75f2d4a9a2f1234
            nodes:
              type: array
              items:
                $ref: '#/components/schemas/PublicFlowNode'
          required:
            - assistantId
            - isDefault
            - liveSnapshotId
            - draftSnapshotId
    PublicFlowCreateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Order Routing
        description:
          type: string
          nullable: true
          example: Routes order conversations
      required:
        - name
    PublicFlowUpdateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: Order Routing
        description:
          type: string
          nullable: true
          example: Routes order conversations
        status:
          type: string
          enum:
            - ACTIVE
            - SUSPENDED
            - DELETED
            - DRAFT
          example: ACTIVE
      required:
        - name
    FlowGraph:
      type: object
      properties:
        id:
          type: string
          example: example
        assistantId:
          type: string
          nullable: true
          example: example
        accountId:
          type: number
          nullable: true
          example: 1
        entityId:
          type: number
          example: 1
        type:
          type: string
          enum:
            - FLOW
            - AUTOMATION
          example: FLOW
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/PublicFlowNode'
        createdAt:
          type: string
          example: example
        updatedAt:
          type: string
          nullable: true
          example: example
        executed:
          type: boolean
          default: false
          example: false
        breakingChangeAt:
          type: string
          nullable: true
          example: example
        breakingChangeReason:
          type: string
          nullable: true
          example: example
      required:
        - entityId
        - type
        - nodes
        - createdAt
    PublicFlowNodeInput:
      type: object
      properties:
        nodeId:
          type: string
          pattern: >-
            node_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}
          example: node_550e8400-e29b-41d4-a716-446655440000
        alias:
          type: string
          nullable: true
          example: Start
        name:
          type: string
          example: Start
        position:
          type: object
          properties:
            positionX:
              type: number
              example: 1
            positionY:
              type: number
              example: 1
          required:
            - positionX
            - positionY
        type:
          type: string
          enum:
            - START
            - TRIGGER_INTENT
            - SAY_AI
            - RESPONSE_AI
            - TOOLS_AI
            - API
            - CONDITIONAL_ROUTING
            - DYNAMIC_TABLES
          example: START
        data:
          oneOf:
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - TRIGGER_INTENT
                  example: TRIGGER_INTENT
                agenticRouting:
                  type: string
                  nullable: true
                  example: example
                intentIds:
                  type: array
                  nullable: true
                  items:
                    type: number
                    example: 1
                intents:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 1
                      name:
                        type: string
                        example: example
                      description:
                        type: string
                        nullable: true
                        example: example
                      createdAt:
                        type: string
                        nullable: true
                        example: example
                      updatedAt:
                        type: string
                        nullable: true
                        example: example
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - DELETED
                        example: ACTIVE
                      assistantId:
                        type: string
                        example: example
                      phrases:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 1
                            phrase:
                              type: string
                              example: example
                          required:
                            - id
                            - phrase
                      flowId:
                        type: number
                        nullable: true
                        example: 1
                    required:
                      - id
                      - name
                      - createdAt
                      - updatedAt
                      - status
                      - assistantId
              required:
                - type
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - SAY_AI
                  example: SAY_AI
                message:
                  type: string
                  nullable: true
                  example: example
                temperature:
                  type: number
                  default: 0.7
                  example: 1
                prompt:
                  type: string
                  nullable: true
                  example: example
                aiModelId:
                  type: number
                  nullable: true
                  example: 1
                model:
                  type: string
                  nullable: true
                  example: example
                aiVendor:
                  type: string
                  nullable: true
                  enum:
                    - OPENAI
                    - ANTHROPIC
                    - GOOGLE
                    - AZURE
                    - DEEPSEEK
                    - LLAMA
                  example: OPENAI
                sayWithAi:
                  type: boolean
                  example: false
              required:
                - type
                - sayWithAi
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - RESPONSE_AI
                  example: RESPONSE_AI
                assistantId:
                  type: string
                  format: uuid
                  description: >-
                    Owning assistant UUID. Validated against the account on
                    save.
                  example: 550e8400-e29b-41d4-a716-446655440000
                aiModelId:
                  type: number
                  nullable: true
                  example: 1
                model:
                  type: string
                  example: example
                aiVendor:
                  type: string
                  enum:
                    - OPENAI
                    - ANTHROPIC
                    - GOOGLE
                    - AZURE
                    - DEEPSEEK
                    - LLAMA
                  example: OPENAI
                instructions:
                  type: string
                  nullable: true
                  example: example
                temperature:
                  type: number
                  example: 1
                captureVariables:
                  type: array
                  items:
                    nullable: true
                    type: object
                exitNodeWhen:
                  type: string
                  enum:
                    - ALL_VARIABLES
                    - FLOW_TRIGGERED
                    - ANY_VARIABLES
                  example: ALL_VARIABLES
                knowledgeBaseMode:
                  type: string
                  enum:
                    - DEFAULT
                    - CUSTOM
                    - DISABLED
                  default: DEFAULT
                  example: DEFAULT
                knowledgeBaseIds:
                  type: array
                  nullable: true
                  items:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                    example: 1
              required:
                - type
                - assistantId
                - model
                - aiVendor
                - instructions
                - temperature
                - captureVariables
                - exitNodeWhen
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - TOOLS_AI
                  example: TOOLS_AI
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      handleId:
                        type: string
                        example: example
                      expression:
                        type: string
                        example: example
                    required:
                      - handleId
                      - expression
                temperature:
                  type: number
                  example: 1
                model:
                  type: string
                  example: example
                aiVendor:
                  type: string
                  enum:
                    - OPENAI
                    - ANTHROPIC
                    - GOOGLE
                    - AZURE
                    - DEEPSEEK
                    - LLAMA
                  example: OPENAI
                instructions:
                  type: string
                  nullable: true
                  example: example
                prompt:
                  type: string
                  nullable: true
                  example: example
                customToolIds:
                  type: array
                  nullable: true
                  items:
                    type: number
                    example: 1
                maxIterations:
                  type: number
                  minimum: 1
                  maximum: 30
                  default: 10
                  example: 1
                agentType:
                  type: string
                  enum:
                    - BASIC
                    - ADVANCED
                  default: BASIC
                  example: BASIC
                captureVariables:
                  type: array
                  nullable: true
                  items:
                    nullable: true
                    type: object
                knowledgeBaseMode:
                  type: string
                  enum:
                    - DEFAULT
                    - CUSTOM
                    - DISABLED
                  default: DEFAULT
                  example: DEFAULT
                knowledgeBaseIds:
                  type: array
                  nullable: true
                  items:
                    type: integer
                    minimum: 0
                    exclusiveMinimum: true
                    example: 1
                selectedRecordTypes:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      recordTypeId:
[...]
